/* stylings for d3 svg graph */

.axis path, .axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Arial';
  font-size: 12px;
  fill: #EEE;
}

.stat {
  font-size: 14px;
  fill: #FFF;
}

.line {
  fill: none;
  stroke: rgb(245,210,70);
  stroke-width: 2px;
}

.lineC {
  fill: none;
  stroke: rgb(137,207,240);
  stroke-width: 2px;
}

 .title text {
  fill: #FFF;
  font-size: 20px;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 190px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 14px;
	color: #000;
}