/* stylings for d3 svg graph */

.axis path, .axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Arial';
  font-size: 10px;
  fill: #CCC;
}

.line {
  fill: none;
  stroke: #FDB813;
  stroke-width: 2px;
}

.lineC {
  fill: none;
  stroke: #89cff0;
  stroke-width: 2px;
}

 .title text {
  fill: #FFF;
  font-size: 20px;
}