body { 
  word-wrap        : break-word;
  background-color : #F5F5F3;
}



/*bs modification*/

.alert, .alert-info {
  height: 20px;
  margin-bottom: -3px;
}

.progress, .progress-bar {
  height: 10px;
}

.progress-text {
  margin: -10px;
}

.btn {
  border-radius    : 50px;
}

.btn-info {
  color: yellow;
  background-color: black;
  border-color: yellow;
  border-width: 1px;
}

.btn-success {
  color: black;
  background-color: yellow;
  border-color: yellow;
}

}
.btn-default {
  border-radius    : 0px;
  background-color : rgba(0,0,0,1);
  border-width     : 0px;
  color            : #FFF;
}
.badge {
  background-color : #FFF;
  color            : rgb(50, 50, 50);
  cursor           : pointer;
  opacity          : 0.8;
  margin-left: 5px;
}
button {
  cursor           : pointer;
}
.form-control {
  border-width     : 0px;
  border-radius    : 0px;
}
.btn-savealt {
  background-color : #1fa67a;
}
.btn-savealt.active, .btn-savealt.focus, .btn-savealt.hover, .btn-savealt:active, .btn-savealt:focus, .btn-savealt:hover {
  color            : #FFF;
  border-left-width: 0px;
}
.btn-choose.active, .btn-choose.focus, .btn-choose.hover, .btn-choose:active, .btn-choose:focus, .btn-choose:hover {
  color            : #FFF;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(75, 75, 75);
}
.fa .pull-right { 
  line-height: inherit;
}


/*navigation*/
nav {
  position         : absolute;
  width            : 50%;
  left             : 50%;
  z-index          : 100;
  color            : #FFF;
  background-color : #000;
  height           : 32;
  overflow         : hidden;
}
nav div.section {
  background-color : #000;
  float            : right;
  padding-left     : 10px;
  padding-right    : 10px;
  cursor           : pointer;
}
.topcol {
  position         : absolute;
  color            : #FFF;
  z-index          : 100;
  width            : 50%;
}
.topleft {
  width            : 100%;
  overflow         : hidden;
}
.topinfo {
  background-color : #5F0D0A;
}
.topinfo-body {
  background-color : rgba(255,255,255,0.2);
  margin-bottom    : 5px;
  width            : 100%;
}
.topnav {
  position         : absolute;
  padding          : 10px;
  z-index          : 100;
  cursor           : pointer;
  font-size        : 1.5em;
  float            : left;
  text-shadow      : 0px 1px 1px rgba(0,0,0,0.75);
}
.right {
  left             : 50%;
  /*color            : rgb(50,50,50);*/
}
.topnav small {
  font-weight      : 900;
  font-family      : sans-serif;
  text-shadow      : 0px -1px 1px rgba(0,0,0,0.5);
}
.dot-unselected {
  opacity          : 0.75;
  text-shadow      : 0px 0px 0px;
  font-size: 1.3em;  
}
<<<<<<< HEAD

=======
.unselected {
  opacity          : 0.35;
}
<<<<<<< HEAD
>>>>>>> master
=======
.unselected {
  opacity          : 0.35;
}
>>>>>>> master
.dot-unselected.active, .dot-unselected.focus, .dot-unselected.hover, .dot-unselected:active, .dot-unselected:focus, .dot-unselected:hover {
  opacity          : 0.75;
  font-size: 1.3em;
  }
  
.basecol {
  position         : absolute;
  width            : 25%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  overflow-y       : hidden;
  overflow-x       : hidden;
}

/* BOTTOM-UP CONTROL PANEL MODULES */

.controlModules {
  font-size: .9em;
}
.table{
  font-size: .8em;
}

.iconContainer {
  border-radius    : 10px;
  border-color: yellow;
  background-color : black;
  border-width     : 1px;
  color            : yellow;
  margin-bottom: 0px;
}

.destinationIcon {
  font-size: 1.7em;
}

.caption{
  font-size: .6em;
}


.basecol_POI {
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 0%;
  width            : 5%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  opacity: .7;
  overflow-y       : hidden;
  overflow-x       : hidden;
  border-right: 0px solid gray;
    
}

.basecol_filter {
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 5.2%;
  width            : 15%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  opacity: .7;
  overflow-y       : hidden;
  overflow-x       : hidden;
   border-right: 0px solid gray;

}

.basecol_scenarioTable {
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 20.4%;
  width            : 29.6%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  opacity: .7;
  overflow-y       : scroll;
  overflow-x       : hidden;
}

.basecol_routeSelector{
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 50.2%;
  width            : 3%;
  bottom           : 0px;
  font-size        : 1.1em;
  padding: 5px;
  background-color: #000;
  opacity: .7;
 
}

.basecol_routeTable{
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 53.4%;
  width            : 26.4%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  opacity: .7;
  overflow-y       : scroll;
  overflow-x       : hidden;
}

.basecol_serviceEditor {
  position         : absolute;
  min-height: 18%;
  max-height: 18%;
  left             : 80%;
  width            : 20%;
  bottom           : 0px;
    background-color : #000;
  color            : #FFF;
  opacity: .7;
}

/* BOTTOM-UP CONTROL PANEL MODULES */



.saveAlt {
  background-color : #1fa67a;
  overflow         : hidden;
}
label {
  font-weight      : 300;
}
.basecol h1, .topcol h1, .basecol h2, .topcol h2, .basecol h3, .topcol h3, .basecol h4, .topcol h4, .basecol h5, .topcol h5, .basecol h6, .topcol h6 {
  padding-left     : 10px;
  padding-right    : 10px;
}
.basecol .body, .topcol .body {
  background-color : rgb(50, 50, 50);
  overflow: hidden;
}
.basecol .alert {
  border-radius: 0px;
  border-width: 0px;
  padding: 5px 10px 0px 10px;
  overflow: hidden;
  margin-bottom: 0px;
}
.basecol .progress {
  border-radius: 0px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  margin-bottom: 0px;
}
.timeAdjust {
  border-radius    : 50%;
}
.noTopMargin {
  margin-top : 0px;
}


/*leaflet map*/
.icon-off {
  display: none;
}
.icon-on {
  display: inline;
}


/*maps*/
.angular-leaflet-map {
  height           : 100%;
  width            : 50%;
  position         : absolute;
}
#map_right {
  left : 50%;
}
.leaflet-container {
  background : -webkit-linear-gradient( #CDD2D4, #F5F5F3) !important; /* For Safari 5.1 to 6.0 */
  background : -o-linear-gradient(      #CDD2D4, #F5F5F3) !important; /* For Opera 11.1 to 12.0 */
  background : -moz-linear-gradient(    #CDD2D4, #F5F5F3) !important; /* For Firefox 3.6 to 15 */
  background : linear-gradient(         #CDD2D4, #F5F5F3) !important; /* Standard syntax */
}
.projects {
  margin-top : 550px;
}
.project-cards .panel-default {
  color : #000;
}
.project-cards .panel-default:hover {
  background-color : #ff4500;
  color            : #FFF;
}