/* main css for angular app */

body { 
  word-wrap        : break-word;
  background-color : #F5F5F3;
  color: #4D4D4D;
  -moz-user-select    : none; 
  -webkit-user-select : none; 
  -ms-user-select     : none; 
  user-select         : none;
  -o-user-select      : none;
  min-height: 680;
  min-width: 1280;
}

/*bs modification*/
.btn {
  border-radius: 0px;
}

button {
  cursor: pointer;
}
.badge {
  background-color: #FFF;
  color: #5D5D5D;
  cursor: pointer;
}
.form-control {
  border-width     : 0px;
  border-radius    : 0px;
}
.btn-savealt {
  background-color : #1fa67a;
  border-width     : 1px;
}

.tiny {
  background-color: #959595;
  width: 100%
}

.btn-savealt.active, .btn-savealt.focus, .btn-savealt.hover, .btn-savealt:active, .btn-savealt:focus, .btn-savealt:hover {
  color            : #FFF;
  border-left-width: 0px;
}
.btn-choose.active, .btn-choose.focus, .btn-choose.hover, .btn-choose:active, .btn-choose:focus, .btn-choose:hover {
  color            : #FFF;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(220, 220, 220);
}
.fa .pull-right { 
  line-height: inherit;
}
i.fa {
  cursor: pointer;
}


/*navigation*/
nav {
  position         : absolute;
  width            : 50%;
  left             : 50%;
  z-index          : 100;
  color            : #FFF;
  background-color : #000;
  height           : 32;
  overflow         : hidden;
}
nav div.section {
  background-color : #000;
  float            : right;
  padding-left     : 10px;
  padding-right    : 10px;
  cursor           : pointer;
}
.topcol {
  position: absolute;
  color: #FFF;
  width: 100%;
}
.topcol h1, .topcol h2, .topcol h3, .topcol h4, .topcol h5, .topcol h6 {
  padding-left: 20px;
  padding-right: 20px;
}

.topright {
  width            : 50%;
  position		   : absolute;
  left			   : 50%;
  overflow         : hidden;  
  z-index: 10;
  background-color : #696969
}

.topleft {
  width            : 300px;
  overflow         : hidden;
  z-index: 10;
  background-color : #696969
}
.topinfo {
  background-color : #5F0D0A;
}
.topinfo-body {
  background-color : rgba(255,255,255,0.2);
  margin-bottom    : 5px;
  width            : 100%;
}
.topnav {
  position         : absolute;
  padding          : 10px;
  z-index          : 10;
  cursor           : pointer;
  width            : 62%;
  right			   : 0px;
}

.topnav  .legend {
  width: 275px;
  height: 150px;
  top: 0px;
  right: 0px;
  position: absolute;
  margin-top: 10px;
  margin-right: 12px;
}

.bottomCol {
  position: absolute;
  color: #FFF;
  z-index: 95;
  width: 100%;
  bottom: 25%
}
.bottomCol h1, .bottomCol h2, .bottomCol h3, .bottomCol h4, .bottomCol h5, .bottomCol h6, .introPan h4 {
  padding-left: 15px;
  padding-right: 15px;
}
.bottomCol .saveComb{
  position: absolute;
  background-color : rgba(211,211,211,0.975);
  overflow         : hidden;
  height: 1000px;
  width: 995px;
  width: -moz-calc(50% + 35px);
  width: calc(50% + 35px);
  bottom: 0px;
  z-index: 10;
}

.introPan{
  position: absolute;
  color: #FFF;
  right: 0px;
  top: 0px;
  background-color : rgba(211,211,211,0.975);
  overflow         : hidden;
  height: 75%;
  width: 50%;
  width: -moz-calc(50% + 2px);
  width: calc(50% + 2px);
  z-index: 10;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.introPan ol , .introPan 	 ul {
  line-height: 1.2;
}

.bottomCol .saveComb .title{
  position: absolute;
  background-color : #696969;
  overflow         : hidden;
  width: 100%;
  bottom: 0px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.introPan .title {
  position: absolute;
  background-color : #696969;
  overflow         : hidden;
  width: 100%;
  top: 0px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.introPan h4{
  margin-left: 4px; 
}

.introPan .station-list{
  position: absolute;
  bottom: 25px;
  margin-left: 45px;
}

.bottomCol .saveVar{
  position: absolute;
  right: 0px;
  background-color : #696969;
  overflow         : hidden;
  width: 960px;
  width: -moz-calc(50% - 35px);
  width: calc(50% - 35px);
  bottom: 0px;
}

.input-group{
width: 90%
}

.col-head-button{
background-color  : #696969;
}

.saveAlt-body {
  background-color : #b4b4b4;
  width            : 100%;
}

.legend .panel {
  border-radius: 0px
}

.legend .panel-heading {
  padding-top: 8px;
  padding-bottom: 8px;
}
.legend .panel-title {
  font-size: 0.8em;
}
.legend .panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.right {
  left             : 50%;
}
.unselected {
  opacity          : 0.5;
}

/* in app navigation */
.progress {
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 10px;
  z-index: 100;
  background-color: #ff7f7f;
}

.leftNav {
  text-align: center;
  position: absolute;
  max-height: 65%;
  bottom: 25%;
}

.leftNav .badge {
  text-align: center;
  display: block;
  margin: 8px;
  cursor: pointer;
  background-color: orange;
  font-size: 0.65em;
}

.introPan .badge {
  text-align: center;
  margin: 4px;
  background-color: orange;
  font-size: 0.65em;
}

.bottomNav {
  position: absolute;
  background-color: #d3d3d3;
  bottom: 0px; 
  height: 25%;
  min-height: 150px;
  overflow: hidden;
  padding-top: 28px;
  z-index: 10;
}

.bottomNav .colBody {
  height: 100%;
  float: left;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  z-index: 5; 
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.colBody .placeHolder {
  font-size: 7em;
  height:100%; 
  width:100%;
  display: table;
  overflow-y: hidden;
}


.placeHolder .bigText {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}

.colBody .colHead {
  height: 28px;
  line-height: 28px;
  background-color: #696969;
  position: absolute;;
  top: 0px;
  width: inherit;
  text-align: center;
  color: white;
  white-space: nowrap;
  box-shadow: 0px 5px 3px rgba(0,0,0,0.25);
  z-index: 99;
}

#service-tab {
  width: 450px;
}

.colBody .subHead {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  padding: 0px 8px 0px 8px;
  background-color: #b4b4b4;
  text-align: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.colBody .setTimesTitle {
  padding: 0px 8px 0px 8px;
  margin: 5px 0px 0px 0px;
}

.setTimesTitle h6 {
  margin: 2px 0px 5px 0px;
}

.colBody .bottomFixed {
  position:absolute;
  bottom: 0px;
  margin: 0px 0px 5px 0px;
  width: inherit;
}

.bottomNav:not(:first-child) .colHead {
  border: 0px solid #7e7e7e;
  border-right-width: 1px;
}
.bottomNav:not(:first-child) .colBody {
  border: 0px solid #d3d3d3;
  border-right-width: 1px;
}

.bottomNav .table {
  font-size: 0.75em;
}

.bottomNav .setTimesTitle .left{
 position: absolute;
 left: 0px;
 width: 49%;
}

.bottomNav .setTimesTitle .right{
 float: right;
 width: 70%;
  margin-top: 5px;
}


.bottomNav .isosRange {
  margin: 2px;
}

.colBody .smallColVal {
  padding: 0px 0px 0px 0px;
}

.colBody .showToggle {
  height: inherit;
  width: inherit;
  padding: inherit;
  overflow: hidden;
  position: relative;
}

.colBody .scenariosTable {
  overflow-y: hidden;
  overflow-x: auto;
  height: inherit;
}

.scenarioEntries {
  margin-left:24px;
  height:100%;
  width:10000px;
  overflow-y:auto;
  overflow-x:auto;
}

.scenariosTable .square {
  color: rgba(255,255,255,1);
  height: 18px;
  line-height: 18px;
  width: 18px;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  margin-bottom: 2px;
  top: 2px;
}

.scenariosTable .scenario {
  padding: 0px 3px 0px 3px;
  position: relative;
  float: left;
  width: 150px;
  height: inherit;
  white-space: nowrap;
  z-index: 9;
  overflow: hidden;
}

.scenario .subHead {
  margin:0px -3px 0px -3px;
  background-color: rgba(255,165,0,0.5)
}

.scenariosTable .selected {
  background-color: rgba(255,165,0,0.5) !important;
}

.scenariosTable .cselected {
  background-color: rgba(137,207,240,0.5) !important;
}

.scenariosTable .scenario:nth-child(odd) { 
  background: #DDD; 
}


.noTopMargin {
  margin-top : 0px;
}
.noBottomMargin {
  margin-bottom : 0px;
}


/*leaflet map*/
.icon-off {
  display: none;
}
.icon-on {
  display: inline;
}


.station-sign .leaflet-popup-content-wrapper {
	padding: 0px;
	text-align: center;
	border-radius: 0px;
}

.station-sign .leaflet-popup-content {
	margin: 0px;
	line-height: 1;
}

.station-sign .leaflet-popup-content p {
	margin: 0px 0;
	color: white;
	background-color: black;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.station-sign .leaflet-popup-content .blackText {
	color: black;
}

input {
  border: none;
  background: transparent;
}

/*maps*/
.angular-leaflet-map {
  height           : 75.5%;
  width: 50%;
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
  position         : absolute;
  left : 300px;
  z-index 		   : 9;
}

.leaflet-container {
  background : -webkit-linear-gradient( #CDD2D4, #F5F5F3) !important; /* For Safari 5.1 to 6.0 */
  background : -o-linear-gradient(      #CDD2D4, #F5F5F3) !important; /* For Opera 11.1 to 12.0 */
  background : -moz-linear-gradient(    #CDD2D4, #F5F5F3) !important; /* For Firefox 3.6 to 15 */
  background : linear-gradient(         #CDD2D4, #F5F5F3) !important; /* Standard syntax */
}

.missed-train{
  background-color: rgba(36,200,100,0.5);
}

.missed-bus{
  background-color: rgba(36,100,200,0.5);
}

.projects {
  margin-top : 550px;
}
.project-cards .panel-default {
  color : #000;
}
.project-cards .panel-default:hover {
  background-color : #ff4500;
  color            : #FFF;
}