body { 
  word-wrap        : break-word;
  background-color : #F5F5F3;
  -moz-user-select    : none; 
  -webkit-user-select : none; 
  -ms-user-select     : none; 
  user-select         : none;
  -o-user-select      : none;
}

/*bs modification*/
.btn {
  /*border-radius    : 0px;*/
  border-radius    : 50px;
  font-size: 1em;
}

.btn-info {
  color: black;
  background-color: yellow;
  border-color: black;
  border-width: 1px;
}

.btn-success {
  color: black;
  background-color: yellow;
  border-color: black;
}

.btn-default {
  border-radius    : 0px;
  background-color : rgba(0,0,0,1);
  border-width     : 0px;
  color            : #FFF;
}
.badge {
  background-color : #FFF;
/*  color            : rgb(50, 50, 50);
  cursor           : pointer;
  opacity          : 0.8;*/
  color            : black;
  cursor           : pointer;
  opacity          : 1;
  margin-left      : 5px;
  font-size        : 1.4em;
}

/* Reduce SVG size in buttons */
.stationIcons {
  height:15px;
  margin-bottom: 4px;
}

.badgeScorecard {
  color : #216C2A;
  background-color: #FFF;
}
button {
  cursor           : pointer;
}
.form-control {
  border-width     : 0px;
  border-radius    : 0px;
}
.btn-savealt {
  background-color : #1fa67a;
}
.btn-savealt.active, .btn-savealt.focus, .btn-savealt.hover, .btn-savealt:active, .btn-savealt:focus, .btn-savealt:hover {
  color            : #FFF;
  border-left-width: 0px;
}
.btn-choose.active, .btn-choose.focus, .btn-choose.hover, .btn-choose:active, .btn-choose:focus, .btn-choose:hover {
  color            : #FFF;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(75, 75, 75);
}
.fa .pull-right { 
  line-height: inherit;
}

/*navigation*/
nav {
  position         : absolute;
  width            : 50%;
  left             : 50%;
  z-index          : 100;
  color            : #FFF;
  background-color : #000;
  height           : 32;
  overflow         : hidden;
}
nav div.section {
  background-color : #000;
  float            : right;
  padding-left     : 10px;
  padding-right    : 10px;
  cursor           : pointer;
}
.topcol {
  position         : absolute;
  color            : #FFF;
  z-index          : 100;
  width            : 50%;
}
.topleft {
  width            : 100%;
  overflow         : hidden;
}
.topinfo {
  background-color : #5F0D0A;
}
.topinfo-body {
  background-color : rgba(255,255,255,0.2);
  margin-bottom    : 5px;
  width            : 100%;
}
.topnav {
  position         : absolute;
  padding          : 10px;
  z-index          : 100;
  cursor           : pointer;
  font-size        : 1.5em;
/*    width            : 50%;*/
  float            : left;
  text-shadow      : 0px 1px 1px rgba(0,0,0,0.75);
}
.right {
  left             : 50%;
  /*color            : rgb(50,50,50);*/
}
.topnav small {
  font-weight      : 900;
  font-family      : sans-serif;
  text-shadow      : 0px -1px 1px rgba(0,0,0,0.5);
}
.dot-unselected {
  opacity          : 0.35;
  text-shadow      : 0px 0px 0px;
  font-size        : 1em;
}
.unselected {
  opacity          : 0.35;
}
.dot-unselected.active, .dot-unselected.focus, .dot-unselected.hover, .dot-unselected:active, .dot-unselected:focus, .dot-unselected:hover {
  opacity          : 0.75;
}
.basecol {
  position         : absolute;
  width            : 50%;
  bottom           : 0px;
  background-color : #000;
  color            : #FFF;
  overflow-y       : hidden;
  overflow-x       : hidden;
}

/* BOTTOM-UP CONTROL PANEL MODULES */

.controlModules {
  font-size: 1.4em;
}
.table{
  font-size: .9em;
}

.iconContainer {
  border-radius    : 10px;
  background-color : yellow;
  border-color: black;
  border-width     : 1px;
  color            : black;
  margin-bottom: 0px;
  opacity: 1;
  padding: 5px;

}

.destinationIcon {
  font-size: 1.4em;
}

.caption{
  font-size: .6em;
}


.basecol_POI {
  position         : absolute;
  min-height: 20%;
  max-height: 28%;
  left             : 0%;
  width            : 4%;
  bottom           : 0px;
  background-color : yellow;
  color            : black;
  opacity: .8;
  overflow-y       : hidden;
  overflow-x       : hidden;
  border-right: 0px solid gray;
  text-align: center;
    
}

.basecol_filter {
  position         : absolute;
  min-height: 20%;
  max-height: 38%;
  left             : 4.2%;
  width            : 13%;
  bottom           : 0px;
  background-color : yellow;
  color            : black;
  opacity: .8;
  overflow-y       : hidden;
  overflow-x       : hidden;
   border-right: 0px solid gray;

}

.basecol_scenarioTable {
  position         : absolute;
  min-height: 20%;
  max-height: 38%;
  left             : 17.4%;
  width            : 32.6%;
  bottom           : 0px;
  background-color : yellow;
  color            : black;
  opacity: .8;
  overflow-y       : hidden;
  overflow-x       : hidden;
}

.basecol_routeSelector{
  position         : absolute;
  min-height: 20%;
  max-height: 18%;
  left             : 50.2%;
  width            : 2.5%;
  bottom           : 0px;
  font-size        : 1.2em;
  padding: 5px;
  background-color : yellow;
  color            : black;
  opacity: .8;
  text-align: center;
}

.basecol_routeTable{
  position         : absolute;
  min-height: 20%;
  max-height: 38%;
  left             : 52.9%;
  width            : 26.4%;
  bottom           : 0px;
  background-color : yellow;
  color            : black;
  opacity: .8;
  overflow-y       : hidden;
  overflow-x       : hidden;
}

.basecol_serviceEditor {
  position         : absolute;
  min-height: 20%;
  max-height: 18%;
  left             : 79.5%;
  width            : 20.5%;
  bottom           : 0px;
  background-color : yellow;
  color            : black;
  opacity: .8;
}

/* End of BOTTOM-UP CONTROL PANEL MODULES */

.saveAlt {
  background-color : #1fa67a;
  overflow         : hidden;
}
label {
  font-weight      : 300;
}
.basecol h1, .topcol h1, .basecol h2, .topcol h2, .basecol h3, .topcol h3, .basecol h4, .topcol h4, .basecol h5, .topcol h5, .basecol h6, .topcol h6 {
  padding-left     : 10px;
  padding-right    : 10px;
}
.basecol .body, .topcol .body {
  background-color : rgb(50, 50, 50);
  overflow: hidden;
}
.basecol .alert {
  border-radius: 0px;
  border-width: 0px;
  padding: 5px 10px 0px 10px;
  overflow: hidden;
  margin-bottom: 0px;
}
.basecol .progress {
  border-radius: 0px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  margin-bottom: 0px;
}
.timeAdjust {
  border-radius    : 50%;
}
.noTopMargin {
  margin-top : 0px;
}
.noBottomMargin {
  margin-bottom : 0px;
}


.isochroneSlider {
  height : 20px;
  width: 350px;
  overflow : hidden;
  margin-bottom: 15px
}

/*leaflet map*/
.icon-off {
  display: none;
}
.icon-on {
  display: inline;
}


/*maps*/
.angular-leaflet-map {
  height           : 100%;
  width            : 50%;
  position         : absolute;
}
#map_right {
  left : 50%;
}
.leaflet-container {
  background : -webkit-linear-gradient( #CDD2D4, #F5F5F3) !important; /* For Safari 5.1 to 6.0 */
  background : -o-linear-gradient(      #CDD2D4, #F5F5F3) !important; /* For Opera 11.1 to 12.0 */
  background : -moz-linear-gradient(    #CDD2D4, #F5F5F3) !important; /* For Firefox 3.6 to 15 */
  background : linear-gradient(         #CDD2D4, #F5F5F3) !important; /* Standard syntax */
}
.projects {
  margin-top : 550px;
}
.project-cards .panel-default {
  color : #000;
}
.project-cards .panel-default:hover {
  background-color : #ff4500;
  color            : #FFF;
}