/* this css is exclusively to customize the range sliders so that they can look consistent across browsers */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DBDBDB;
  border-radius: 0px;
  border: 1px solid #252525;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #353535;
  height: 27px;
  width: 30px;
  border-radius: 0px;
  background: #808080;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DBDBDB;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DBDBDB;
  border-radius: 0px;
  border: 1px solid #252525;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #353535;
  height: 27px;
  width: 30px;
  border-radius: 0px;
  background: #808080;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DBDBDB;
  border: 1px solid #252525;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #DBDBDB;
  border: 1px solid #252525;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #353535;
  height: 27px;
  width: 30px;
  border-radius: 0px;
  background: #808080;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DBDBDB;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DBDBDB;
}



