<!DOCTYPE HTML>
<html>

<head>
  <title>CoAXs</title>

  <!-- css libraries -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome-animation/dist/font-awesome-animation.min.css">
  <link rel="stylesheet" href="/public/style/transitive.css">

  
  <!-- leaflet toolset -->
  <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>

  <!-- data viz support js -->
  <link rel="stylesheet" href="/public/style/d3.css"> 
  <script src="/bower_components/d3/d3.min.js"></script>

  <!-- filesaver -->
  <script src="/public/scripts/filesaver.js"></script>

  <!-- conveyal client lib -->
  <script src="/public/scripts/analyst.js"></script>
  <script src="/public/scripts/browsochrones.js"></script>
  <script src="/public/scripts/leaflet-transitivelayer.js"></script>
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
  <script src="/public/scripts/polyfill.js"></script>
  
  <!-- ng source -->
  <script src="/bower_components/angular/angular.min.js"></script>

  <!-- ng models/directive -->
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-simple-logger/dist/index.js"></script>
  <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
  <!-- main css and js for page (instantiates the router) -->
  <link rel="stylesheet" href="/public/style/main.css"> 
  <link rel="stylesheet" href="/public/style/slider.css"> 
  <script src="/public/scripts/main.js"></script>

  <!-- loading up all the services, filters and controllers for angular -->
  <script src="/public/scripts/main/misc/filters.js"></script>
  <script src="/public/scripts/main/services/analystService.js"></script>
  <script src="/public/scripts/main/services/d3Service.js"></script>
  <script src="/public/scripts/main/services/loadService.js"></script>
  <script src="/public/scripts/main/services/targetService.js"></script>
  <script src="/public/scripts/main/services/leftService.js"></script>
  <script src="/public/scripts/main/services/supportService.js"></script>
  <script src="/public/scripts/main/services/scorecardService.js"></script>
  <script src="/public/scripts/main/controllers/mapsController.js"></script>
  
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57681852-2', 'auto');
  ga('send', 'pageview');

</script>
  

</head>

<body ng-app="coaxsApp">

  <div>
    <!-- router for angular (all views rendered in here) -->
    <div ui-view></div>
  </div>


</body>

<!-- google api -->
<script src="https://apis.google.com/js/client.js"></script>
<script src="/public/scripts/transitive.js"></script>
</html>