<!DOCTYPE HTML>
<html>

<head>
  <title>CoAXs</title>

  <!-- css libraries -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  
  <!-- leaflet toolset -->
  <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
  <script src="/bower_components/leaflet/dist/leaflet.js"></script>

  <!-- conveyal client lib -->
  <script src="/public/scripts/analyst.js"></script>
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
  <script src="/public/scripts/polyfill.js"></script>
  
  <!-- ng source -->
  <script src="/bower_components/angular/angular.min.js"></script>

  <!-- ng models/directive -->
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>

  <link rel="stylesheet" href="/public/style/main.css"> 
  <script src="/public/scripts/main.js"></script>

  <script src="/public/scripts/main/misc/filters.js"></script>
  <script src="/public/scripts/main/services/analystService.js"></script>
  <script src="/public/scripts/main/services/loadService.js"></script>
  <script src="/public/scripts/main/services/targetService.js"></script>
  <script src="/public/scripts/main/services/rightService.js"></script>
  <script src="/public/scripts/main/services/supportService.js"></script>
  <script src="/public/scripts/main/services/scorecardService.js"></script>
  <script src="/public/scripts/main/controllers/mapsController.js"></script>
  

</head>

<body ng-app="coaxsApp">

  <div>
   <div ui-view></div>
  </div>


</body>

<!-- google api -->
<script src="https://apis.google.com/js/client.js"></script>

</html>