<!-- progress bar -->
<div class="progress" ng-show="loadProgress.vis">
  <div class="progress-bar progress-bar-info progress-bar-striped active"
       role="progressbar" id="isosProgressBar"
       style="width:{{loadProgress.val}}%">
  </div>
</div>

<!-- hamburger menu topleft -->
<div class="topnav">
<!--   <div class="fa-stack" ng-click="visibleTabs.routes=!visibleTabs.routes">
    <i class="fa fa-stop fa-stack-2x"></i>
    <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
  </div> -->

  <div class="legend">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title" ng-click="scenarioLegend=!scenarioLegend">
          Legend
          <i class="fa fa-expand pull-right"></i>
        </h6>
      </div>
      <div class="panel-body" ng-show="scenarioLegend && showVectorIsosOn  && scenarioCompare">
        Time Boundary
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i>
        <small>{{ combos.all[combos.sel].name }}</small>
        <br><i class="fa fa-stop fa-border" style="color:#89cff0" ng-show="scenarioCompare"></i>
        <small>{{ combos.all[combos.com].name }}</small>
      </div>
      <div class="panel-body"
           ng-show="scenarioScore.graphData && scenarioLegend && showVectorIsosOn && !scenarioCompare ">
        Time Boundary: {{ vectorIsos.val | minuteConverter }}
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i>
        <small>{{ combos.sel ? combos.all[combos.sel].name : 'Existing service'}}</small>
      </div>
      <div class="panel-body"
           ng-show="scenarioScore.graphData && scenarioLegend && !showVectorIsosOn && !scenarioCompare ">
        Reachability by Public Transport
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i>
        <small>Easily reachable</small>
        <br><i class="fa fa-stop fa-border" style="color:#FEEDC2"></i>
        <small>Reachable</small>
        <br><i class="fa fa-stop fa-border" style="color:#B0B0B0"></i>
        <small>Unreachable within 2 hours</small>
      </div>
      <div class="panel-body" ng-show="scenarioLegend && !showVectorIsosOn && scenarioCompare ">
        Travel Time Comparison<br>
        <small>{{ combos.all[combos.sel].name }}...</small>
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i>
        <small>Same as or slower than...</small>
        <br><i class="fa fa-stop fa-border" style="color:#e4d3f4"></i>
        <small>Faster than...</small>
        <br><i class="fa fa-stop fa-border" style="color:#9651d5"></i>
        <small>Much faster than...</small>
        <br>
        <small>{{ combos.all[combos.com].name }}</small>
      </div>
    </div>
  </div>
</div>


<!-- upper views -->

<div class="topcol">

  <div class="topright" style="background-color: {{variants[tabnav].color}}" ng-show="routeScorecard">
    <h4>
      <i class="fa fa-bar-chart"></i> Route Data
      <i class="fa fa-times-circle-o pull-right" ng-click="routeScorecard=false"></i>
    </h4>
    <div class="topinfo-body container">

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-dot-circle-o"></i> {{ routeScore.bus.count }}
            <h6>Stops</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Standard:</b> {{ routeScore.bus.dist[0] | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Upgraded:</b> {{ routeScore.bus.dist[1] | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Full:</b> {{ routeScore.bus.dist[2] | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
          <h5>
            <i class="fa fa-usd"></i> {{ routeScore.bus.cost | number:0 }}
            <h6>Station construction</h6>
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-arrows-h"></i> {{ routeScore.length.count | number:1 }}
            <h6>Miles Round-Trip</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Shared:</b> {{ routeScore.length.dist.non | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Priority:</b> {{ routeScore.length.dist.ded | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
          <h5>
            <i class="fa fa-usd"></i> {{ routeScore.length.cost | number:0 }}
            <h6>Dedicated lane construction</h6>
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-clock-o"></i> {{ routeScore.time.count | minuteConverter }}
            <h6>Peak Round-Trip</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Moving:</b> {{ routeScore.time.dist.move | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Loading:</b> {{ routeScore.time.dist.load | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
          <h5>
            <i class="fa fa-usd"></i> {{ routeScore.vehicles.cost | number:0 }}
            <h6>Annual Cost of Operations</h6>
          </h5>
        </div>
      </div>

    </div>
  </div>

  <!--Intro screen-->

<div class="topleft">
    <h4>
      <b>CoAXs</b> | Bus Priority
	<i class="fa fa-times-circle-o pull-right" ng-click="introPanel=false"></i>
	</h4>
	<div class="topinfo-body container" style="min-height:75vh">
	
      <div style="height: 100%">
		<h5>Showing door-to-door travel using public transit, with MBTA weekday morning schedule as baseline.</h5>
		<h5 ng-show="!loadProgress.vis">Drag the pin to explore.</h5>

		<div id="tooltip" class="hidden" style="z-index:10">
			<p><span id="value"></span>
			</p>
		</div>
		<div style="width:40%; float: right;" ng-show = "selCordon">
		Jobs and Transport Capacity at <br> {{cordons[selCordon].verbose}}:
		<svg id="plot1" width="400" height="400" style="z-index:2"></svg>
		</div>
		<div ng-show = "!pointToPoint">
		<svg id="compPlot2" width="440" height="400"></svg>
		<br>
		<div class="btn-group" dropdown>
            <button id="split-button" type="button" class="btn btn-success"
                    ng-click="drawGraph(scenarioScore.graphData)">
              {{ indicators.all[indicators.sel] }}
            </button>
            <button type="button" class="btn btn-success" dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="(id, verbose) in indicators.all" 
                  ng-click="selectGraphData(id)"
                  value="{{ id }}">
                <a href="">{{ verbose }}</a>
              </li>
            </ul>
        </div>
		reachable from {{cordons[selCordon].verbose}} <img src="public/imgs/marker-flag-start-shadowed.png" style="height:24px" ng-show="!selCordon">
		within	{{vectorIsos.val | minuteConverter}}
		</div>
		<div ng-show = "pointToPoint">
			<svg id="compPlot3" width="440" height="400"></svg>
			<br>
			Travel time from {{cordons[selCordon].verbose}} <img src="public/imgs/marker-flag-start-shadowed.png" style="height:24px" ng-show="!selCordon"> to <img src="public/imgs/marker-flag-end-shadowed.png" style="height:24px"> 
		</div>
		          
		
		</h5>
		
      </div>
<!-- 	<div>
	<h4>More Info</h4>
	 <ul>
	 <li>CoAXs (Collaborative Access-based Stakeholder Engagement) is a project of the <br> Mobility Futures Collaborative at MIT: <a href="https://mfc.mit.edu/innovations-participatory-design-brt-systems"> mfc.mit.edu <img style="float: right; height: 100px" src="public/imgs/mfc_qr.png"></a></li>
	 <li>This preliminary analysis does not guarantee accuracy, and is not directly related to <a href="http://northsouthraillink.org">northsouthraillink.org</a></li>
	 <li>Transport network analysis via <a href="http://conveyal.com/projects/analyst/"> Conveyal Transport Analyst</a></li>
	 <li>Map data © <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors,<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> | Imagery © <a href="http://mapbox.com/">Mapbox</a></li>
	 </ul>
	<br>
	<br>
	</div> -->
	</div>
  </div>
</div>



<div class="bottomCol">

  <!--SAVE-ROUTE PROMPT-->
  <div class="saveVar" ng-show="saveAlt && visibleTabs.customize">
    <h4>
      Save new alternative for Corridor {{ tabnav }}
      <i class="fa fa-times-circle-o pull-right" ng-click="saveAlt=false"></i>
    </h4>
    <div class="saveAlt-body container">
      <h6 ng-if="!scenario[tabnav].routeId"><i class="fa fa-level-down fa-2x fa-flip-horizontal"
                                               style="vertical-align:top; padding-right:10px"></i> Select a template
        route from the <span class="col-head-button" ng-click="visibleTabs.routes = !visibleTabs.routes">   Corridor Editor   </span>.
      </h6>
      <ol ng-if="scenario[tabnav].routeId">
        <li>Make changes in the <span class="col-head-button" ng-click="visibleTabs.customize = !visibleTabs.customize">   Service Editor   </span>
          <span style="float:right; padding-left:10px" ng-click="visibleTabs.customize = !visibleTabs.customize"><i
            class="fa fa-level-down fa-2x"></i>  </span><span style="float:right"
                                                              ng-click="visibleTabs.customize = !visibleTabs.customize"></span>
        </li>
        <li>Review alternative:
          <h6 ng-if="scenario[tabnav].routeId">
            Corridor: {{ tabnav }} - {{ routes[scenario[tabnav].routeId][0].options.base.corLonName }}<br>
            Template Route: {{ routes[scenario[tabnav].routeId][0].options.base.varName }}
          </h6>
          </h6>
          <h6>
            Station type:
            <span ng-if="scenario[tabnav].station == 0">
          Standard stops
        </span>
            <span ng-if="scenario[tabnav].station == 1">
          Stops upgraded with raised platforms
        </span>
            <span ng-if="scenario[tabnav].station == 2">
		  Full stations
        </span>
            <div></div>
            Interval (peak): {{ scenario[tabnav].peak.min }}:{{ scenario[tabnav].peak.sec | integerLength }} between
            arrivals.<br>
            Interval (off-peak): {{ scenario[tabnav].offpeak.min }}:{{ scenario[tabnav].offpeak.sec | integerLength }}
            between arrivals.
          </h6>
        </li>
        <li>Name alternative and save
          <div class="input-group">
            <div class="col-xs-2">
              <input type="text" class="form-control" size="2" maxlength="2" ng-model="scenario[tabnav].num"
                     placeholder="#">
            </div>
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="scenario[tabnav].name"
                     placeholder="Name alternative...">
            </div>
            <span class="input-group-btn">
          <button class="btn btn-savealt" type="button"
                  ng-show="!scenario[tabnav].name"
                  style="cursor:not-allowed">
            Save Alternative
          </button>
          <button class="btn btn-savealt" type="button"
                  ng-click="saveAltButton()"
                  ng-show="scenario[tabnav].name && scenario[tabnav].routeId">
            Save Alternative
          </button>
        </span>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <!--SAVE-SCENARIO PROMPT-->
  <div class="saveComb" ng-show="saveCombo">
    <div class="title">
      <h4>
        Save new scenario
        <i class="fa fa-times-circle-o pull-right" ng-click="saveCombo=false"></i>
      </h4>
      <div class="saveAlt-body container">
        <ol>
          <li>Activate variations in the <span class="col-head-button"
                                               ng-click="visibleTabs.routes = !visibleTabs.routes">   Corridor Editor   </span>
            <span style="float:right; padding-left:10px" ng-click="visibleTabs.routes = !visibleTabs.routes"><i
              class="fa fa-level-down fa-2x"></i>  </span><span style="float:right"
                                                                ng-click="visibleTabs.routes = !visibleTabs.routes"></span>
          </li>
          <li>Review scenario:
            <h6 ng-repeat="(key, variant) in variants" ng-show="variant.sel">
        <span style="background-color:{{variant.color}}; color: #FFF; width: 15px; text-align: center; float: left">
		{{ key }} 
		</span>
              &nbsp
              <span style="background-color: {{variant.color}}; margin-right=10px">
			&nbsp {{ variant.all[variant.sel].name }} &nbsp 
        </span>&nbsp
              Station type:
              <span ng-if="variant.all[variant.sel].station == 0">
        Standard,
        </span>
              <span ng-if="variant.all[variant.sel].station == 1">
        Upgraded,
        </span>
              <span ng-if="variant.all[variant.sel].station == 2">
        Full,
        </span>
              Intervals: every {{ variant.all[variant.sel].offpeak.min}} min., every {{
              variant.all[variant.sel].peak.min}} min. (peak)
            </h6>
          </li>
          <li>Name combo and save</li>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="comboName" placeholder="Enter a name for this combo...">
            <span class="input-group-btn">
          <button class="btn btn-savealt" type="button"
                  ng-show="!comboName"
                  style="cursor:not-allowed" disabled>
            Save Combo
          </button>
          <button class="btn btn-savealt" type="button"
                  ng-show="comboName"
                  ng-click="newCombo(comboName); saveCombo=false">
            Save Combo
          </button>
        </span>
          </div>
        </ol>
      </div>
    </div>
  </div>
</div>


<leaflet center="center_left"
         defaults="defaults_left"
         id="map_left"
         tiles="tiles_left"
         markers="markers"
         maxbounds="maxBounds_left"
>
</leaflet>
<leaflet ng-show="visibleTabs.routes"
         center="center_right"
         defaults="defaults_right"
         id="map_right"
         tiles="tiles_right"
         maxbounds="maxBounds_right">
</leaflet>


<div
  style="position:absolute;right:50%;height:100%;width:0px;border-style:solid;border-color:#999;border-width:1px"></div>

<!-- 1 poi markers -->
<div class="leftNav" style="z-index: -1">
  <div class="badge" ng-class="!currentPOIUser ? '' : 'unselected'" ng-click="targetPOIUsers(user.userId)">
    <i class="fa fa-user"></i><br> All
  </div>
  <div class="badge"
       ng-repeat="user in poiUsers track by $index"
       ng-click="targetPOIUsers(user.userId)"
       ng-class="user.userId == currentPOIUser ? '' : 'unselected'">
    <i class="fa fa-user"></i><br> {{ user.userId }}
  </div>
  <div class="badge" ng-class="currentPOIUser ? '' : 'unselected'" ng-click="clearPOIUsers()">
    <i class="fa fa-user"></i><br> Clear
  </div>
</div>


<div class="bottomNav">

  <!-- 2 destination and time filters -->
  <div class="colBody">
    <div class="colHead" ng-click="visibleTabs.travel = !visibleTabs.travel">
      <i class="fa fa-clock-o" ng-class="selCordon && !visibleTabs.travel? 'faa-flash animated' : ''"></i>
      Time Map
    </div>

    <div class="placeHolder" ng-show="!visibleTabs.travel" ng-click="visibleTabs.travel = !visibleTabs.travel">
      <div class="bigText">
        <i class="fa fa-clock-o"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.travel">
      <div class="btn-group btn-group-justified">
        <label class="btn btn-info" ng-click="preMarkerQuery()">
          <i class="fa fa-refresh" ng-show="!scenarioScore.graphData"
             ng-class="loadProgress.vis ? 'faa-spin animated' : 'faa-pulse animated'"></i>
          <i class="fa fa-refresh" ng-show="scenarioScore.graphData" ng-class="loadProgress.vis ? 'fa-spin' : ''"></i>
        </label>
        <label class="btn btn-xs" ng-class="!showVectorIsosOn ? 'active tiny' : ''"
               ng-click="!showVectorIsosOn ? toggleShowVectorIsos() : ''">
          <i class="fa fa-play" ng-show="!timerPlaying" ng-click="showVectorIsosOn ? startTimer() : ''"></i>
          <i class="fa fa-pause" ng-show="timerPlaying" ng-click="stopTimer()"></i>
        </label>
        <label class="btn btn-xs" ng-class="showVectorIsosOn ? 'active tiny' : ''"
               ng-click="toggleShowVectorIsos(); stopTimer()"><i class="fa fa-stop"></i>
        </label>
      </div>

      <div style="width:100%; height:55px; overflow:hidden;padding-top:5px;">
        <div class="text-center" style="width: 100%; padding: 0px 8px 0px 8px"
             ng-click="!showVectorIsosOn ? toggleShowVectorIsos() : ''">
		  <span ng-class="showVectorIsosOn ? '' : 'unselected'">
            <input type="range" min="1" max="120" class="isosRange"
                   ng-model="vectorIsos.val" ng-disabled="!showVectorIsosOn"/>
			<div>
			<span ng-click="stopTimer(); vectorTimeVal_subtract()"
            style="position: absolute; left: 10px; padding-right: 10px;"><i
        class="fa fa-step-backward fa-2x"></i></span>
            {{ vectorIsos.val | minuteConverter }}
            <span ng-click="stopTimer(); vectorTimeVal_add()"
                  style="position: absolute; right: 8px; padding-left: 10px;"><i
              class="fa fa-step-forward fa-2x"></i></span>
            </div>
		  </span>
        </div>
      </div>
	  <br>
	  <br>
	  <div ng-click = "togglePointToPoint()" style="cursor: pointer;">
		Point-to-point mode 
		<i class="fa fa-check-square" ng-show="pointToPoint"></i>
		<i class="fa fa-square" ng-show="!pointToPoint"></i>
	  </div>

    </div>
  </div>


  <!-- 3 scenario table module -->
  <div class="colBody" id="leftDynamic">
    <div class="colHead" ng-click="visibleTabs.scenarios = !visibleTabs.scenarios">
      <i class="fa fa-random " ng-class="scenarioScore.graphData && !defaultsBuilt? 'faa-pulse animated' : ''"></i>
      <span ng-show="!combos.sel">Scenario: Existing MBTA</span>
      <span ng-show="combos.sel">
        Scenario<span ng-show="scenarioCompare"> Comparison</span>: {{ combos.all[combos.sel].name }}
        <span ng-show="scenarioCompare">
          <span ng-show="combos.com">vs. {{ combos.all[combos.com].name }}</span>
          <span ng-show="!combos.com">vs...</span>
        </span>
      </span>
    </div>


    <div class="placeHolder" ng-show="!visibleTabs.scenarios"
         ng-click="visibleTabs.scenarios = !visibleTabs.scenarios; buildScenarios()">
      <div class="bigText">
        <i class="fa fa-random"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.scenarios">

      <div class="btn-group btn-group-justified">

         <label class="btn btn-xs" ng-class="scenarioCompare ? '' : 'active tiny'" ng-click="resetMap(); scenarioCompare = !scenarioCompare"><i class="fa fa-balance-scale"></i> Comparison 
        </label>


        <label class="btn btn-xs" ng-class="saveCombo ? '' : 'active tiny'"
               ><i class="fa fa-plus-square"></i> New
        </label>

      </div>

      <div class="scenariosTable" style="margin-top:-18px;padding-top:18px;">
        <div class="scenario" style="position:absolute;z-index:10;box-shadow:5px 0px 3px rgba(0,0,0,0.1);width:24px">
          <i class="fa fa-balance-scale" style="position:absolute;bottom:40px" ng-show="scenarioCompare"></i>
        </div>

        <div class="scenarioEntries">
          <div class="scenario" style="display:inline-block;white-space:nowrap;"
               ng-class="combos.sel == combo._key ? 'selected' : (combos.com == combo._key ? 'cselected' : '')"
               ng-repeat="combo in combos.all | toArray | orderBy:'created'"
               >


            <div class="subHead">
              {{ combo.name }}
            </div>



            <!--<div class="subHead" ng-click='inputIsOn = true' ng-show='!inputIsOn'>-->
              <!--{{ combo.name }}-->
            <!--</div>-->

            <!--<input class="subHead" ng-show='inputIsOn'>  </input>-->




            <div style="width:20px;position:absolute">
              <div class="square" style="color:#FFF;background-color:{{variant.color}};"
                   ng-repeat="(key,variant) in variants | toArray | limitTo: 5">
                {{variant._key}}
              </div>
            </div>

            <div style="width:100%;position:absolute;left:22px;" ng-click="combos.com=null;combos.sel=combo._key; updateSelectScenario(combos.sel)">
              <div ng-repeat="(key,variant) in variants | toArray | limitTo: 5">
              <span class="text-success">
                <small>R: {{combo.param[variant._key].runningTime}} | D:{{combo.param[variant._key].dwell}}  | F:{{combo.param[variant._key].frequency}}  </small>
              </div>

            </div>

            <div class="text-center" style="position:absolute;width:100%;z-index:10;bottom:2px;"
                 ng-show="combos.sel !== combo._key && combos.com !== combo._key &&  scenarioCompare"
                 ng-click="combos.com=combo._key; $event.stopPropagation(); preMarkerQuery();updateComScenario(combos.com)">
              <i ng-show="!combos.com" class="fa fa-circle-o faa-pulse animated"></i>
              <i ng-show="combos.com" class="fa fa-circle-o"></i>
            </div>
            <div class="text-center" style="position:absolute;width:100%;z-index:10;bottom:2px;"
                 ng-show="combos.sel !== combo._key && combos.com == combo._key &&  scenarioCompare"
                 ng-click="combos.com=null; $event.stopPropagation()">
              <i class="fa fa-check-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 4 route selector module -->


  <div class="colBody text-center" style="width:30px; box-shadow: 0px 0px 0px;">
    <div class="colHead">
      <div class="fa-stack">
        <i class="fa fa-code-fork fa-rotate-270"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.routes">


      <div>
        <div class="smallColVal" style="color:#FFF;background-color:{{variant.color}};"
             ng-click="targetCorridor(variant);" ng-repeat="(key,variant) in variants | toArray | limitTo: 5">
          {{variant._key}}
        </div>
      </div>
    </div>
  </div>

  <!-- 5 route table module -->
  <div class="colBody" style="width:120px; box-shadow: 0px 0px 0px;">
    <div class="colHead" ng-click="visibleTabs.routes = !visibleTabs.routes; introPanel = false">
        Corridor

    </div>

    <div class="placeHolder" ng-show="!visibleTabs.routes"
         ng-click="visibleTabs.routes = !visibleTabs.routes; introPanel = false">
		<div class="bigText">
			<i class="fa fa-code-fork fa-rotate-270" style="margin-left: -15px"></i>
		</div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.routes">

      <!--<div class="">-->
        <!--<label class="" style="line-height:8px">-->
          <!--<b>Bus Routes</b>-->
        <!--</label>-->
      <!--</div>-->

      <div class="subHead">
        Routes

      </div>
      
      <div style="height: 90%; overflow-y: auto">
        <table class="table table-condensed table-hover">
          <thead>

          </thead>
          <tbody>
          <tr ng-repeat="busline in variants[tabnav].buslines">
            <td style="width: 35%; padding-left:0px">{{
              busline }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="bottomFixed" ng-show="!variants[tabnav].sel">

      </div>
    </div>
  </div>


  <!-- 6 service editor module -->
  <div class="colBody" id="service-tab">
    <div class="colHead"
         ng-click="visibleTabs.customize = !visibleTabs.customize; visibleTabs.routes=true; introPanel = false">
      <i class="fa fa-pencil-square-o"></i> Service Editor
    </div>

    <div class="placeHolder" ng-show="!visibleTabs.customize || !variants[tabnav].sel"
         ng-click="visibleTabs.customize = !visibleTabs.customize; visibleTabs.routes=true; introPanel = false">
      <div class="bigText">
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.customize && variants[tabnav].sel">
      <div class="btn-group btn-group-justified">
        <label class="btn btn-xs" ng-show="!variants[tabnav].sel"></label>
        <label class="btn btn-xs" style="background-color:
		{{ variants[tabnav].color }}; color: #FFFFFF"
               ng-show="variants[tabnav].sel">
          <i>{{ tabnav }} |  {{variants[tabnav].corName}}</i>





        </label>
        <label class="btn btn-xs btn-info" style="line-height:25px" ng-click="newCombo()">
          <i class="fa fa-save"></i> Save
        </label>
        </button>
      </div>
      <!--<div class="subHead">-->
        <!--Set Stop Type-->
      <!--</div>-->

      <!--<div class="btn-group btn-group-justified">-->
        <!--<label class="btn btn-xs"-->
               <!--ng-class="scenario[tabnav].station==0 ? '' : 'tiny active'"-->
               <!--ng-model="scenario[tabnav].station"-->
               <!--ng-click="scenario[tabnav].station=0;-->
                            <!--updateRouteScorecard(scenario[tabnav].routeId, tabnav)">-->
          <!--<img src="public/imgs/stops/0.png" style="height:20px">-->
        <!--</label>-->
        <!--<label class="btn btn-xs"-->
               <!--ng-class="scenario[tabnav].station==1 ? '' : 'tiny active'"-->
               <!--ng-model="scenario[tabnav].station"-->
               <!--ng-click="scenario[tabnav].station=1;-->
                            <!--updateRouteScorecard(scenario[tabnav].routeId, tabnav)">-->
          <!--<img src="public/imgs/stops/1.png" style="height:20px">-->
        <!--</label>-->
        <!--<label class="btn btn-xs"-->
               <!--ng-class="scenario[tabnav].station==2 ? '' : 'tiny active'"-->
               <!--ng-model="scenario[tabnav].station"-->
               <!--ng-click="scenario[tabnav].station=2;-->
                            <!--updateRouteScorecard(scenario[tabnav].routeId, tabnav)">-->
          <!--<img src="public/imgs/stops/2.png" style="height:20px">-->
        <!--</label>-->
      <!--</div>-->
      <!--<span ng-show="scenario[tabnav].station==0" style="margin-left:10px">Standard</span>-->
      <!--<span ng-show="scenario[tabnav].station==1" style="margin-left:10px">Upgraded</span>-->
      <!--<span ng-show="scenario[tabnav].station==2" style="margin-left:10px">Full Station</span>-->
      <div>


        <!--<div class="subHead" >-->
          <!--Set Dwell Time-->
        <!--</div>-->

        <div class="setTimesTitle">

          <div>
            <div style="padding-top: 0px;"><img
              src="public/imgs/runningtime.png" style="height:35px">Running Time

            <input type="range" min="50" max="150" value="100" style="margin-top: 10px;" class="right" ng-model="currentParam[tabnav].runningTime" />
            x {{currentParam[tabnav].runningTime}}%
            </div>
          </div>
        </div>

      </div>

      <div style="margin-top: 9px;">

        <div class="setTimesTitle">

          <div>
            <div style="padding-top: 5px;"><img
              src="public/imgs/dwelltime.png" style="height:25px">Dwell Time

              <input type="range" min="50" max="150" value="100" class="right" ng-model="currentParam[tabnav].dwell" />
              x {{currentParam[tabnav].dwell}}%
            </div>
          </div>


        </div>

      </div>




      <div style="margin-top: 12px;">

        <div class="setTimesTitle">


          <div>
            <div style="padding-top: 5px;"><img
              src="public/imgs/frequency.png" style="height:25px">Average Waiting Time

              <input type="range" min="50" max="150" value="100" class="right" ng-model="currentParam[tabnav].frequency" />
              x {{currentParam[tabnav].frequency}}%
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>
