<!-- progress bar -->
<div class="progress" ng-show="loadProgress.vis">
  <div class="progress-bar progress-bar-info progress-bar-striped active" 
        role="progressbar"  id="isosProgressBar"
        style="width:{{loadProgress.val}}%">
  </div>
</div>

<!-- hamburger menu topleft -->
<div class="topnav">
  <div class="fa-stack" ng-click="introPanel=!introPanel">
    <i class="fa fa-stop fa-stack-2x"></i>
    <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
  </div>

  <div class="legend">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title" ng-click="scenarioLegend=!scenarioLegend">
          Legend
          <i class="fa fa-expand pull-right"></i>
        </h6>
      </div>
      <div class="panel-body" ng-show="scenarioLegend && showVectorIsosOn">
        Time Boundary
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i> <small>{{ combos.all[combos.sel].name }}</small>
        <br><i class="fa fa-stop fa-border" style="color:#89cff0" ng-show="scenarioCompare"></i> <small>{{ combos.all[combos.com].name }}</small>
      </div>
      <div class="panel-body" ng-show="scenarioLegend && !showVectorIsosOn && !scenarioCompare ">
        Travel Time
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i> <small>Shorter</small>
        <br><i class="fa fa-stop fa-border" style="color:#FEEDC2"></i> <small>Longer</small>
		<br><i class="fa fa-stop fa-border" style="color:#B0B0B0"></i> <small>Over 2 hrs</small>
        <br><i class="fa fa-stop fa-border" style="color:#FFF"></i> <small>Inaccessible</small>
      </div>  
	  <div class="panel-body" ng-show="scenarioLegend && !showVectorIsosOn && scenarioCompare ">
		Travel Time Comparison
        <br><i class="fa fa-stop fa-border" style="color:#FDB813"></i> <small>Equal</small>
        <br><i class="fa fa-stop fa-border" style="color:#FEEDC2"></i> <small>Equal</small>
		<br><i class="fa fa-stop fa-border" style="color:#e4d3f4"></i> <small>{{ combos.all[combos.sel].name }} Faster</small>
		<br><i class="fa fa-stop fa-border" style="color:#9651d5"></i> <small>{{ combos.all[combos.sel].name }} Much Faster</small>
      </div>
    </div>
  </div>
</div>



<!-- upper views -->

<div class="topcol">


  <div class="topleft" style="background-color:#696969" ng-show="scenarioScorecard">
    <h4>
      Scenario Scorecard
      <i class="fa fa-times-circle-o pull-right" ng-click="scenarioScorecard = false"></i>
    </h4>
    <div class="topinfo-body container" style="min-height:250px">

<!--       <div class="pull-left" style="width: 100%; padding-right: 310px;">
        <div class="row">
          <div class="col-xs-5">
            <h3>
              <i class="fa fa-dot-circle-o"></i> {{ scenarioScore.bus.count }}
              <h6>Stops</h6>
            </h3>
          </div>
          <div class="col-xs-6">
            <h3>
              <i class="fa fa-usd"></i> {{ scenarioScore.bus.cost/1000000 | number:2 }}M
              <h6>All Stations</h6>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <h3>
              <i class="fa fa-arrows-h"></i> {{ scenarioScore.length.count | number:1 }}
              <h6>Miles</h6>
            </h3>
          </div>
          <div class="col-xs-6">
            <h3>
              <i class="fa fa-usd"></i> {{ scenarioScore.length.cost/1000000 | number:2 }}M
              <h6>All Lanes</h6>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <h3>
              <i class="fa fa-bus"></i> {{ scenarioScore.vehicles.count }}
              <h6>Vehicles</h6>
            </h3>
          </div>
          <div class="col-xs-6">
            <h3>
              <i class="fa fa-usd"></i> {{ scenarioScore.vehicles.cost/1000000 | number:2 }}M
              <h6>Operations</h6>
            </h3>
          </div>
        </div>
      </div> -->

      <div style="height: 300px; position: absolute; left: 10px">
        <center>

          <div class="btn-group" dropdown>
            <button id="split-button" type="button" class="btn btn-success"
                    ng-click="drawGraph(scenarioScore.graphData)">
              {{ scenarioScore.graphData.sel.verbose }}
            </button>
            <button type="button" class="btn btn-success" dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="(id, dataVal) in scenarioScore.graphData.all" 
                  ng-click="selectGraphData(dataVal)"
                  value="{{ id }}">
                <a href="">{{ dataVal.verbose }}</a>
              </li>
            </ul>
          </div>
        </center>
		<svg id="compPlot" width="500" height="200"></svg>
      </div>
    </div>
  </div>

  <div class="topleft topinfo" ng-show="managerView">
    <h4>
      <i class="fa fa-cog fa-spin" ng-if="managerOperations"></i>Facilitator Options
      <i class="fa fa-times-circle-o pull-right" ng-click="managerView=false"></i>
    </h4>
    <div class="topinfo-body container">
      <h6>
        Click to auto create baseline and gold standard scenarios. <span class="badge" ng-click="buildScenarios()">Run Create</span>
      </h6>
	  <h6>
	  Show <span class="badge" ng-click="introPanel = true">Intro Panel</span>
	  </h6>
      <h6>
        Current sensitivity level is: {{ sensitivity | number: 2 }} miles. 
        <span class="badge" ng-click="sensitivity = sensitivity - 0.05">Decrease</span>
        <span class="badge" ng-click="sensitivity = sensitivity + 0.05">Increase</span>
      </h6>
      <h6>
        You currently have selected this JSON cache: 
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default btn-xs">
            {{ snapPoints.sel }}
          </button>
          <button type="button" class="btn btn-default btn-xs" dropdown-toggle>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="id in snapPoints.all" 
                ng-click="setNewSnapCache(id)"
                value="{{ id }}">
              <a href="">{{ id }}</a>
            </li>
          </ul>
        </div>
      </h6>
      <h6>
        Click to auto sync preloaded GeoJSON data with spreadsheet. <span class="badge" ng-click="updateLocationCache(snapPoints.sel)">Run AutoSync</span>
      </h6>
      <h6>
        Download session footprint. <span class="badge" ng-click="downloadSession()">Download</span>
      </h6>
	  	<h6>
        Basemap (Left): <span class="badge" ng-click="changeTilesLeft('blank')">Basic</span>
    		<span class="badge" ng-click="changeTilesLeft('base')">Neighborhoods and Parks</span>
    		<span class="badge" ng-click="changeTilesLeft('collisions')">Crash Hotspots</span>
      </h6>
      <h6>
        Basemap (Right): <span class="badge" ng-click="changeTilesRight('blank')">Basic</span>
    		<span class="badge" ng-click="changeTilesRight('base')">Neighborhoods and Parks</span>
    		<span class="badge" ng-click="changeTilesRight('collisions')">Crash Hotspots</span>
      </h6>
      <h6>
        Cache current scenario. <span class="badge" ng-click="saveScenarioCache()">Run Caching</span>
      </h6>
    </div>
  </div>
</div>

  <!--Intro screen-->
 <div class="introPan" ng-show="introPanel">
   <div class="title">
    <h4>
      CoAXs - North-South Rail Link Beta Version
	<i class="fa fa-times-circle-o pull-right" ng-click="introPanel=false"></i>
	</h4>
    <div class="saveAlt-body container">
	<div style="width:65%">
	<img src="public/imgs/alignment.jpg" style="width:450px"/><br>
	</div>
	<div style="width:35%; position: absolute; right:10px; top: 40px">	
	<h4>Getting Started</h4>
	  <h5>
	  <ol>
	  <li>Move the <img src="public/imgs/start.png" style="height:18px"> Start Marker </li>
	  <li>Tap <span class="col-head-button" ng-click="visibleTabs.travel = !visibleTabs.travel"> &nbsp <i class="fa fa-clock-o "></i> Time Map &nbsp </span> &nbsp  to explore how far you can travel</li>
	  </ol>
	</div>
	 <h4>More Info</h4>
	 <ul>
	 <li>CoAXs (Collaborative Access-based Stakeholder Engagement) is a project of the <br> Mobility Futures Collaborative at MIT.  More info at <a href="https://mfc.mit.edu/innovations-participatory-design-brt-systems"> mfc.mit.edu <img style="float: right; height: 100px" src="public/imgs/mfc_qr.png"></a></li>
	 <li>This preliminary analysis does not guarantee accuracy, and is not directly related to <a href="http://northsouthraillink.org">northsouthraillink.org</a></li>
	 <li>Transport network analysis via Conveyal Transport Analyst</li>
	 <li>Map data © <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors,<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> | Imagery © <a href="http://mapbox.com/">Mapbox</a></li>
	 </ul>
	</h5>
	<br>
	<br>
	
    </div>
  </div>
</div>

<div class="topcol right">
  <div class="topleft" style="background-color: #{{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.routeColor }}" ng-show="routeScorecard" >
    <h4>
      <i class="fa fa-bar-chart"></i> Route Data
      <i class="fa fa-times-circle-o pull-right" ng-click="routeScorecard=false"></i>
    </h4>
    <div class="topinfo-body container">

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-dot-circle-o"></i> {{ routeScore.bus.count }}
            <h6>Stops</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Standard:</b> {{ routeScore.bus.dist[0] | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Upgraded:</b> {{ routeScore.bus.dist[1] | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Full:</b> {{ routeScore.bus.dist[2] | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
          <h5>
            <i class="fa fa-usd"></i> {{ routeScore.bus.cost | number:0 }}
            <h6>Station construction</h6>
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-arrows-h"></i> {{ routeScore.length.count | number:1 }}
            <h6>Miles Round-Trip</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Shared:</b> {{ routeScore.length.dist.non | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Priority:</b> {{ routeScore.length.dist.ded | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
          <h5>
            <i class="fa fa-usd"></i> {{ routeScore.length.cost | number:0 }}
            <h6>Dedicated lane construction</h6>
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h3>
            <i class="fa fa-clock-o"></i> {{ routeScore.time.count | minuteConverter }}
            <h6>Peak Round-Trip</h6>
          </h3>
        </div>
        <div class="col-xs-3">
          <h5>
            <b>Moving:</b> {{ routeScore.time.dist.move | convertPercentage | number:0 }}%
          </h5>
          <h5>
            <b>Loading:</b> {{ routeScore.time.dist.load | convertPercentage | number:0 }}%
          </h5>
        </div>
        <div class="col-xs-4">
		  <h5>
            <i class="fa fa-usd"></i> {{ routeScore.vehicles.cost | number:0 }}
            <h6>Annual Cost of Operations</h6>
          </h5>
        </div>
      </div>

    </div>
  </div>


  <!--ROUTE INFO PROMPT-->

  <div class="topleft" style="background-color: #{{ targetFeature.properties.routeColor }}" ng-show=false>
    <h4>
      {{ targetFeature.properties.varName }} Alignment
      <i class="fa fa-times-circle-o pull-right" ng-click="routeDetails=false"></i>
    </h4>
    <div class="topinfo-body container">
      <h6>
        Corridor: {{ targetFeature.properties.corLonName }} | Alignment: {{ targetFeature.properties.varName }} | Length: {{ targetFeature.properties.length | number:2 }} miles
      </h6>

      <h6 ng-show="targetFeature.alternatives">
        There are {{ targetFeature.alternatives.length/2 + variants[tabnav].length }} alignments for Corridor {{ targetFeature.properties.corName }}. Based on these alignments, {{ variants[tabnav].all | keyLength }} variations have been created this session: 
        <span ng-repeat="(key, variant) in variants[tabnav].all">
          <span class="badge"  style="color: #{{ targetFeature.properties.routeColor }}" 
                ng-click="updateTargetFeature(variant)">
            {{ variant.name }}
          </span>
        </span>
      </h6>
      
      <button class="btn btn-choose pull-right" type="button" 
              ng-show="scenario[tabnav].routeId !== targetFeature.properties.routeId"
              ng-click="scenario[targetFeature.properties.corName].routeId = targetFeature.properties.routeId;
                        createVar=true" 
              style="background-color: #{{ targetFeature.properties.routeColor }}">
        Use this path for the {{ targetFeature.properties.corLonName }} corridor
      </button>

      <button class="btn btn-choose pull-right" type="button" 
              ng-show="scenario[targetFeature.properties.corName].routeId == targetFeature.properties.routeId"
              style="background-color: #{{ targetFeature.properties.routeColor }}">
        <i class="fa fa-check"></i>
        Path selected
      </button>
    </div>
  </div>
</div>




<div class="bottomCol">
  
  <!--SAVE-ROUTE PROMPT-->
  <div class="saveVar" ng-show="saveAlt && visibleTabs.customize">
    <h4>
      Save new alternative for Corridor {{ tabnav }}
      <i class="fa fa-times-circle-o pull-right" ng-click="saveAlt=false"></i>
    </h4>
    <div class="saveAlt-body container">
      <h6 ng-if="!scenario[tabnav].routeId"><i class="fa fa-level-down fa-2x fa-flip-horizontal" style="vertical-align:top; padding-right:10px" ></i> Select a template route from the <span class="col-head-button" ng-click="visibleTabs.routes = !visibleTabs.routes">   Corridor Editor   </span>.</h6>
	  <ol ng-if="scenario[tabnav].routeId">
	  <li>Make changes in the <span class="col-head-button" ng-click="visibleTabs.customize = !visibleTabs.customize">   Route Editor   </span> <span style="float:right; padding-left:10px" ng-click="visibleTabs.customize = !visibleTabs.customize"><i class="fa fa-level-down fa-2x" ></i>  </span><span style="float:right" ng-click="visibleTabs.customize = !visibleTabs.customize"></span></li>
	  <li>Review alternative:
	  <h6 ng-if="scenario[tabnav].routeId">
        Corridor: {{ tabnav }} - {{ routes[scenario[tabnav].routeId][0].options.base.corLonName }}<br>
		Template Route: {{ routes[scenario[tabnav].routeId][0].options.base.varName }} 
      </h6>
      </h6>
      <h6>
        Station type: 
        <span ng-if="scenario[tabnav].station == 0">
          standard stops
        </span>
        <span ng-if="scenario[tabnav].station == 1">
          stops upgraded with raised platforms
        </span>
        <span ng-if="scenario[tabnav].station == 2">
		  full stations
        </span>
		<div></div>
        Frequency (peak): {{ scenario[tabnav].peak.min }}:{{ scenario[tabnav].peak.sec | integerLength }} between arrivals.<br>
		Frequency (off-peak): {{ scenario[tabnav].offpeak.min }}:{{ scenario[tabnav].offpeak.sec | integerLength }} between arrivals.
      </h6>
	  </li>
	  <li>Name alternative and save 
      <div class="input-group">
        <input type="text" class="form-control" ng-model="scenario[tabnav].name" placeholder="Name alternative...">
        <span class="input-group-btn">
          <button class="btn btn-savealt" type="button" 
            ng-show="!scenario[tabnav].name" 
            style="cursor:not-allowed">
            Save Alternative
          </button>
          <button class="btn btn-savealt" type="button" 
            ng-click="saveAlt=false; newVariant(tabnav, true)" 
            ng-show="scenario[tabnav].name && scenario[tabnav].routeId">
            Save Alternative
          </button>
        </span>
      </div>
	  </li>
    </div>
  </div>

  <!--SAVE-SCENARIO PROMPT-->
  <div class="saveComb" ng-show="saveCombo">
  <div class="title">
    <h4>
      Save new combo
      <i class="fa fa-times-circle-o pull-right" ng-click="saveCombo=false"></i>
    </h4>
    <div class="saveAlt-body container">
      <ol>
	  <li>Activate variations in the <span class="col-head-button" ng-click="visibleTabs.routes = !visibleTabs.routes">   Corridor Editor   </span> <span style="float:right; padding-left:10px" ng-click="visibleTabs.routes = !visibleTabs.routes"><i class="fa fa-level-down fa-2x"></i>  </span><span style="float:right" ng-click="visibleTabs.routes = !visibleTabs.routes"></span></li>
	  <li>Review combo:
      <h6 ng-repeat="(key, variant) in variants" ng-show="variant.sel">
        <span style="background-color:#{{routes[variant.all[variant.sel].routeId][0].options.base.routeColor }}; color: #FFF; width: 15px; text-align: center; float: left">
		{{ key }} 
		</span> 
		&nbsp 
		<span style="background-color: #{{ routes[variant.all[variant.sel].routeId][0].options.base.routeColor }}; margin-right=10px">
			&nbsp {{ variant.all[variant.sel].name }} &nbsp 
        </span>&nbsp 
		Station type: 
        <span ng-if="variant.all[variant.sel].station == 0">
        Standard,
        </span>
        <span ng-if="variant.all[variant.sel].station == 1">
        Upgraded,
        </span>
        <span ng-if="variant.all[variant.sel].station == 2">
        Full,
        </span>
		Frequency: every {{ variant.all[variant.sel].offpeak.min | avgWaitTime }} min., every {{ variant.all[variant.sel].peak.min | avgWaitTime }} min. (peak)
      </h6>
	  </li>
	  <li>Name combo and save</li>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="comboName" placeholder="Enter a name for this combo...">
        <span class="input-group-btn">
          <button class="btn btn-savealt" type="button" 
            ng-show="!comboName"
            style="cursor:not-allowed" disabled>
            Save Combo
          </button>
          <button class="btn btn-savealt" type="button" 
            ng-show="comboName"
            ng-click="newCombo(comboName); saveCombo=false">
            Save Combo
          </button>
        </span>
      </div>
	  </ol>
    </div>
  </div>
  </div>
</div>



<leaflet  center   = "center_left"
          defaults = "defaults_left"
          id       = "map_left"
          tiles    = "tiles_left"
          markers  = "markers_left"
		  maxbounds = "maxBounds_left"
          >
</leaflet>
<leaflet  center   = "center_right"
          defaults = "defaults_right"
          id       = "map_right"
          tiles    = "tiles_right"
          maxbounds = "maxBounds_right"
		  >
</leaflet>


<div style="position:absolute;right:50%;height:100%;width:0px;border-style:solid;border-color:#999;border-width:1px"></div>


<!-- 1 poi markers --> 
<div class="leftNav">
  <div class="badge" ng-class="!currentPOIUser ? '' : 'unselected'" ng-click="targetPOIUsers(user.userId)">
        <i class="fa fa-user"></i><br> All
  </div>
  <div class="badge" 
        ng-repeat="user in poiUsers track by $index" 
        ng-click="targetPOIUsers(user.userId)" 
        ng-class="user.userId == currentPOIUser ? '' : 'unselected'">
        <i class="fa fa-user"></i><br> {{ user.userId }}
  </div>
</div>


<div class="bottomNav">

  <!-- 2 destination and time filters --> 
  <div class="colBody" style="width:275px"> 
    <div class="colHead" ng-click="visibleTabs.travel = !visibleTabs.travel">
      <i class="fa fa-clock-o"></i> Time Map
    </div>

    <div class="placeHolder" ng-show="!visibleTabs.travel" ng-click="visibleTabs.travel = !visibleTabs.travel">
      <div class="bigText">
        <i class="fa fa-clock-o"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.travel">
	  <div class="btn-group btn-group-justified">
			<label class="btn btn-info" ng-click="preMarkerQuery()"><i class="fa fa-refresh" ng-class="loadProgress.vis ? 'fa-spin' : ''"></i>
			</label>
			<label class="btn btn-xs" ng-class="!showVectorIsosOn ? 'active tiny' : ''" ng-click="!showVectorIsosOn ? toggleShowVectorIsos() : ''">
			<i class="fa fa-play" ng-show="!timerPlaying" ng-click="showVectorIsosOn ? startTimer() : ''"></i>
			<i class="fa fa-pause" ng-show="timerPlaying" ng-click="stopTimer()"></i>
			</label>
			<label class="btn btn-xs" ng-class="showVectorIsosOn ? 'active tiny' : ''" ng-click="toggleShowVectorIsos(); stopTimer()"><i class="fa fa-stop"></i>
			</label>
      </div>
	
      <div style="width:100%; height:55px; overflow:hidden;padding-top:5px;">
        <div class="text-center" style="width: 100%; padding: 0px 8px 0px 8px" ng-click="!showVectorIsosOn ? toggleShowVectorIsos() : ''">
		  <span ng-class="showVectorIsosOn ? '' : 'unselected'">
            <input type="range" min="1" max="24" class="isosRange"
              ng-model="vectorIsos.val"
              ng-disabled="!showVectorIsosOn"
			/>
            <div>
			<span ng-click="stopTimer(); vectorTimeVal_subtract(); showVectorIsos(300*vectorIsos.val)" style="position: absolute; left: 10px; padding-right: 10px;"><i class="fa fa-step-backward fa-2x"></i></span>
            {{ vectorIsos.val*5 | minuteConverter }}
            <span ng-click="stopTimer(); vectorTimeVal_add(); showVectorIsos(300*vectorIsos.val)" style="position: absolute; right: 10px; padding-left: 10px;"><i class="fa fa-step-forward fa-2x"></i></span>
            </div>
		  </span>
        </div>
      </div>

      
    </div>
  </div>


  <!-- 3 scenario table module --> 
  <div class="colBody" id="leftDynamic"> 
    <div class="colHead" ng-click="visibleTabs.scenarios = !visibleTabs.scenarios">
      <i class="fa fa-random"></i>
      <span ng-show="!combos.sel">Combo: Existing MBTA System</span>
      <span ng-show="combos.sel">
        Combo: {{ combos.all[combos.sel].name }}
        <span ng-show="scenarioCompare">
          <span ng-show="combos.com">compared with {{ combos.all[combos.com].name }}</span>
          <span ng-show="!combos.com">Compared with Baseline</span>
        </span>
      </span>
    </div>

	
	
    <div class="placeHolder" ng-show="!visibleTabs.scenarios" ng-click="visibleTabs.scenarios = !visibleTabs.scenarios; buildScenarios()">
      <div class="bigText">
        <i class="fa fa-random"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.scenarios">

	<div class="btn-group btn-group-justified">
			<label class="btn btn-xs" ng-class="scenarioScorecard ? '' : 'active tiny'" ng-click="scenarioScorecard = !scenarioScorecard; updateScenarioScorecard(combos.sel)" style="line-height:25px">
                <i class="fa fa-bar-chart"></i> Data
			</label>
			<label class="btn btn-xs" ng-class="scenarioCompare ? '' : 'active tiny'" ng-click="scenarioCompare = !scenarioCompare"><i class="fa fa-balance-scale"></i> Comparison
			</label>
			<label class="btn btn-xs" ng-class="saveCombo ? '' : 'active tiny'" ng-click="saveCombo = !saveCombo; introPanel=false"><i class="fa fa-plus-square"></i> New
			</label>
    </div>
	
      <div class="scenariosTable" style="margin-top:-18px;padding-top:18px;">
        <div class="scenario" style="position:absolute;z-index:10;box-shadow:5px 0px 3px rgba(0,0,0,0.1);">
          <div>&nbsp</div>
		  <div class="fa fa-arrows-h"></div>
          <div class="square" style="background-color:#3D33D3">I</div>
		  <div class="square" style="background-color:#8B118F">P</div>
          <div class="square" style="background-color:#6E3838">M</div>
          <div class="square" style="background-color:#ADCDAD">F</div>
          <div class="square" style="background-color:#D77FBC">N</div>
		  <div class="square" style="background-color:#811881">W</div>
		  <div class="square" style="background-color:#007eff">K</div>
		  <div class="square" style="background-color:#11b1b1">G</div>
        </div>

        <div style="margin-left:21px;height:100%;width:10000px;overflow-y:scroll;overflow-x:scroll;">
          
          <div class="scenario" style="display:inline-block;white-space:nowrap;"
                ng-class="combos.sel == variant._key ? 'selected' : ''"
                ng-repeat="variant in combos.all | toArray | orderBy:'created'">

            <div class="subHead" ng-show="combos.sel !== variant._key" 
                  ng-click="updateLeftRoutes(variant._key); combos.com=null; updateScenarioScorecard(combos.sel)">
                <small>{{ variant.name }}</small>
			</div>
            <div class="subHead" ng-show="combos.sel == variant._key"
                  ng-click="updateLeftRoutes(); combos.com=null; updateScenarioScorecard(combos.sel)">
                <small><b>{{ variant.name }}</b></small>
            </div>
			
			<div class="text-center">
              <span ng-show="combos.sel !== variant._key">
                <i  class = "fa fa-circle-o" 
                    ng-show="combos.com !== variant._key" 
                    ng-click="combos.com=variant._key; $event.stopPropagation()"></i>
                <i  class = "fa fa-check-circle" 
                    ng-show="combos.com == variant._key"
                    ng-click="combos.com=null; $event.stopPropagation()"></i>
              </span>
              <span ng-show="combos.sel == variant._key">
                <i class="fa fa-ban"></i>
              </span>
            </div>
			
            <div>
              <span class="text-success" ng-show="variant.sel['I']">
                <small>{{ variants['I'].all[variant.sel['I']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['I']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['P']">
                <small>{{ variants['P'].all[variant.sel['P']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['P']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['M']">
                <small>{{ variants['M'].all[variant.sel['M']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['M']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
            <div>
              <span class="text-success" ng-show="variant.sel['F']">
                <small>{{ variants['F'].all[variant.sel['F']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['F']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['N']">
                <small>{{ variants['N'].all[variant.sel['N']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['N']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['W']">
                <small>{{ variants['W'].all[variant.sel['W']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['W']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['K']">
                <small>{{ variants['K'].all[variant.sel['K']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['K']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>
			<div>
              <span class="text-success" ng-show="variant.sel['G']">
                <small>{{ variants['G'].all[variant.sel['G']].name }}</small>
              </span>
              <span class="text-danger" ng-show="!variant.sel['G']">
                <div><i class="fa fa-times"></i></div>
              </span>
            </div>

			
			


          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 4 route selector module --> 
  <div class="colBody text-center" style="width:35px; box-shadow: 0px 0px 0px;""> 
    <div class="colHead" ng-click="visibleTabs.routes = !visibleTabs.routes; introPanel = false">
      <div class="fa-stack" ng-click="targetPOIUsers()">
        <i class="fa fa-code-fork fa-rotate-270"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.routes" style="background-color: rgba(255,165,0,0.5)">
      <div class="smallColVal" style="color:#FFF;background-color:#3D33D3;"
            ng-click="targetCorridor('I'); tabnav='I'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'I' ? 'unselected' : ''">
            I
      </div>
	  
	  <div class="smallColVal" style="color:#FFF;background-color:#8B118F;"
            ng-click="targetCorridor('P'); tabnav='P'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'P' ? 'unselected' : ''">
            P
      </div>
      
	  <div class="smallColVal" style="color:#FFF;background-color:#6E3838;"
            ng-click="targetCorridor('M'); tabnav='M'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'M' ? 'unselected' : ''">
            M
      </div> 

      <div class="smallColVal" style="color:#FFF;background-color:#ADCDAD;"
            ng-click="targetCorridor('F'); tabnav='F'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'F' ? 'unselected' : ''">
            F
      </div>

	  <div class="smallColVal" style="color:#FFF;background-color:#D77FBC;"
            ng-click="targetCorridor('N'); tabnav='N'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'N' ? 'unselected' : ''">
            N
      </div>
	  
	  <div class="smallColVal" style="color:#FFF;background-color:#811881;"
            ng-click="targetCorridor('W'); tabnav='W'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'W' ? 'unselected' : ''">
            W
      </div>
	  
	  <div class="smallColVal" style="color:#FFF;background-color:#007eff;"
            ng-click="targetCorridor('K'); tabnav='K'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'K' ? 'unselected' : ''">
            K
      </div>
	  
	  <div class="smallColVal" style="color:#FFF;background-color:#11b1b1;"
            ng-click="targetCorridor('G'); tabnav='G'; variants[tabnav].sel == null? routeScorecard=false : updateRouteScorecard(scenario[tabnav].routeId, tabnav);"
            ng-class="tabnav !== 'G' ? 'unselected' : ''">
            G
      </div>
	  
    </div>
  </div>  


  <!-- 5 route table module --> 
  <div class="colBody" id="rightDynamic1" style=" box-shadow: 0px 0px 0px;">
    <div class="colHead" ng-click="visibleTabs.routes = !visibleTabs.routes; introPanel = false">
      <span ng-show="introPanel">
        Corridor Editor
      </span>
	  <span ng-show="variants[tabnav].sel && !introPanel">
        Corridor Editor: {{ tabnav }} - {{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.corLonName }}
      </span>

      <span ng-show="!variants[tabnav].sel">
        <i class="fa fa-exclamation-triangle"></i> Corridor {{ tabnav }} inactive
      </span>
    </div>

    <div class="placeHolder" ng-show="!visibleTabs.routes" ng-click="visibleTabs.routes = !visibleTabs.routes; introPanel = false">
      <div class="bigText">
        <i class="fa fa-code-fork fa-rotate-270"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.routes">
	  
	  <div class="btn-group btn-group-justified" ng-show="variants[tabnav].sel">
			<label class="btn btn-xs" ng-class="routeScorecard ? '' : 'active tiny'" ng-click="updateRouteScorecard(scenario[tabnav].routeId, tabnav); routeScorecard=!routeScorecard" style="line-height:25px">
                <i class="fa fa-bar-chart"></i> Data
			</label>
			<label class="btn btn-xs" style="background-color: #{{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.routeColor }}; color: #FFFFFF"> {{ variants[tabnav].all[variants[tabnav].sel].name }}
			</label>
			<label class="btn btn-xs" ng-class="visibleTabs.customize ? '' : 'active tiny'" ng-click="visibleTabs.customize=!visibleTabs.customize; createVar=false"><i class="fa fa-pencil-square-o"></i> Edit
			</label>
      </div>
	  <div class="btn-group btn-group-justified" ng-show="!variants[tabnav].sel">
			<label class="btn btn-xs active tiny" style="line-height:25px"><br>
			</label>
      </div>
    
      <div style="height: 90%; overflow-y: scroll">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th></th>
              <th style="width: 35%">Alternative</th>
              <th>Stop Type</th>
              <th colspan=2>Average Waiting Time</th>
            </tr>
          </thead>
          <tbody ng-show="visibleTabs.customize">
            <tr>
              <td>
			  <i class="fa fa-sliders"></i>
              </td>
              <td style="width: 35%"><b> {{ variants[tabnav].all[variants[tabnav].sel].name }} <i>Edit</i></b></td>
              <td>
                <span ng-if="scenario[tabnav].station == 0">
                  Standard 
                </span>
                <span ng-if="scenario[tabnav].station == 1">
                  Upgraded
                </span>
                <span ng-if="scenario[tabnav].station == 2">
                  Full Station 
                </span>
              </td>
              <td>
                 {{ scenario[tabnav].offpeak.min | avgWaitTime}} min.
              </td>
              <td>
                 {{ scenario[tabnav].peak.min | avgWaitTime}} min. (peak)
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="variant in variants[tabnav].all | toArray | orderBy:'created'">
              <td>
                <i class="fa fa-square-o" 
                    ng-show="variants[tabnav].sel !== variant._key" 
                    ng-click="setSelectedVariant(tabnav, variant._key);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav); updateTargetFeature(variant);"></i>
                <i class="fa fa-check-square" 
                    ng-show="variants[tabnav].sel == variant._key"
                    ng-click="setSelectedVariant(tabnav, null);
                              updateRouteScorecard(); updateTargetFeature();"></i>
              </td>
              <td style="width: 35%" ng-click="setSelectedVariant(tabnav, variant._key);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav); updateTargetFeature(variant);">{{ variant.name }}</td>
              <td ng-click="setSelectedVariant(tabnav, variant._key);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav); updateTargetFeature(variant);">
                <span ng-if="variant.station == 0">
                  Standard 
                </span>
                <span ng-if="variant.station == 1">
                  Upgraded
                </span>
                <span ng-if="variant.station == 2">
                  Full Station 
                </span>
              </td ng-click="setSelectedVariant(tabnav, variant._key);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav); updateTargetFeature(variant);">
              <td>
                 {{variant.offpeak.min | avgWaitTime}} min.
              </td>
              <td ng-click="setSelectedVariant(tabnav, variant._key);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav); updateTargetFeature(variant);">
                {{variant.peak.min | avgWaitTime}} min. (peak)

              </td>
            </tr>
          </tbody>
        </table>
      </div>
	  <div class="bottomFixed" ng-show="!variants[tabnav].sel">
		<div class="subHead">
			Tap an alternative above to activate.
		</div>
	  </div>
    </div>
  </div>



  <!-- 6 route editor module --> 
  <div class="colBody" style="width:275px">
    <div class="colHead" ng-click="visibleTabs.customize = !visibleTabs.customize; introPanel = false">
      <i class="fa fa-pencil-square-o"></i> Route Editor
    </div>

    <div class="placeHolder" ng-show="!visibleTabs.customize" ng-click="visibleTabs.customize = !visibleTabs.customize; introPanel = false">
      <div class="bigText">
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </div>

    <div class="showToggle" ng-show="visibleTabs.customize">
      	<div class="btn-group btn-group-justified">
		<label class="btn btn-xs" ng-show="!variants[tabnav].sel" ></label>
		<label class="btn btn-xs" style="background-color: 
		#{{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.routeColor }}; color: #FFFFFF" 
		ng-show="variants[tabnav].sel" 
		ng-click="visibleTabs.routes =! visibleTabs.routes"> 
			{{ variants[tabnav].all[variants[tabnav].sel].name }} <i>Edit</i>
		</label>
		<label class="btn btn-xs btn-info" style="line-height:25px" ng-click="saveAlt=true; createVar=false">
            <i class="fa fa-save"></i>
        </label>
    </div>
        <div class="subHead">
          Set Stop Type
        </div>

        <div class="btn-group btn-group-justified">
          <label  class="btn btn-xs"
				  ng-class="scenario[tabnav].station==0 ? '' : 'tiny active'"
                  ng-model="scenario[tabnav].station"
                  ng-click="scenario[tabnav].station=0;
                            updateRouteScorecard(scenario[tabnav].routeId, tabnav)">
            <img src="public/imgs/stops/0.png" style="height:20px">
          </label>
          <label  class="btn btn-xs"
                  ng-class="scenario[tabnav].station==1 ? '' : 'tiny active'"
				  ng-model="scenario[tabnav].station" 
                  ng-click="scenario[tabnav].station=1;
                            updateRouteScorecard(scenario[tabnav].routeId, tabnav)">
            <img src="public/imgs/stops/1.png" style="height:20px">
          </label>
          <label  class="btn btn-xs"
                  ng-class="scenario[tabnav].station==2 ? '' : 'tiny active'"
				  ng-model="scenario[tabnav].station" 
                  ng-click="scenario[tabnav].station=2;
                            updateRouteScorecard(scenario[tabnav].routeId, tabnav)">
            <img src="public/imgs/stops/2.png" style="height:20px">
          </label>
        </div>
		<span ng-show="scenario[tabnav].station==0" style="margin-left:10px">Standard</span>
		<span ng-show="scenario[tabnav].station==1" style="margin-left:10px">Upgraded</span>
		<span ng-show="scenario[tabnav].station==2" style="margin-left:10px">Full Station</span>
	 <div class="bottomFixed">

	  <div class="subHead">
        Set Frequency
      </div>
	
      <div class="setTimesTitle">
		<div class="left">
		<input type="range" min="1" max="60" value="10" class="isosRange"
                    ng-model="scenario[tabnav].offpeak.min"
                    ng-click="updateOffPeakVal(scenario[tabnav].peak.min, tabnav);
                              updateRouteScorecard(scenario[tabnav].routeId, tabnav)"/>    
          Every {{ scenario[tabnav].offpeak.min}} min.
          <small class="pull-right"></small>
		
		</div>
        <div class="right">
		<input type="range" min="1" max="60" value="5" class="isosRange"
                      ng-model="scenario[tabnav].peak.min"
                      ng-click="updateOffPeakVal(scenario[tabnav].peak.min, tabnav);
                                updateRouteScorecard(scenario[tabnav].routeId, tabnav)"/>
          Every {{ scenario[tabnav].peak.min}} min.
          <small class="pull-right">(Peak)</small>
		 </div>
      </div>

      </div>
    </div>
  </div>

</div>

