<leaflet  center   = "center_left"
          defaults = "defaults_left"
          geojson  = "geojson_left"
          id       = "map_left"
          layers   = "layers_left"
          markers  = "markers_left"
          >
</leaflet>
<leaflet  center   = "center_right"
          defaults = "defaults_right"
          geojson  = "geojson_right"
          id       = "map_right"
          layers   = "layers_right"
          markers  = "markers_right"
          >
</leaflet>


<div class="basecol">
  <h4 ng-click="baseToggle('view_stations')">
    Station Type
    <small>
      {{ param_stations.keys }}
    </small>
  </h4>
  <div ng-show="base.view_stations">
    <ul ng-repeat="(key_sc, value_sc) in scenario" class="fa-ul">
    {{ key_sc }}
      <li ng-repeat="(key_st, value_st) in param_stations">
        <label>
          <input type="radio" ng-model="scenario[key_sc].station" value="{{ value_st }}" required />
          {{ key_st }}
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="basecol" style="margin-left: 20%">
  <h4 ng-click="baseToggle('view_rush')">
    Station Type
    <small>
      Foo
    </small>
  </h4>
  <div ng-show="base.view_rush">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 40%">
  <h4 ng-click="baseToggle('view_off')">
    Station Type
  </h4>
  <div ng-show="base.view_off">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 60%">
  <h4 ng-click="baseToggle('view_foo')">
    Station Type
  </h4>
  <div ng-show="base.view_foo">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 80%">
  <h4 ng-click="baseToggle('view_bar')">
    Station Type
  </h4>
  <div ng-show="base.view_bar">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>