<leaflet  center   = "center_left"
          defaults = "defaults_left"
          geojson  = "geojson_left"
          id       = "map_left"
          layers   = "layers_left"
          markers  = "markers_left"
          >
</leaflet>
<leaflet  center   = "center_right"
          defaults = "defaults_right"
          geojson  = "geojson_right"
          id       = "map_right"
          layers   = "layers_right"
          markers  = "markers_right"
          >
</leaflet>


<div class="basecol">
  <h4 ng-click="baseToggle('view_stations')">
    Station Types
    <small>
      {{ param_stations.keys }}
    </small>
  </h4>
  <div ng-show="base.view_stations">

    <div ng-include="'tabnav.html'"></div>

    <div class="btn-group btn-group-justified">
      <label class="btn btn-success" ng-model="scenario[tabnav].station" btn-radio="0">
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i> 
        <i class="fa fa-star-o"></i>
        <br>
        Normal
      </label>
      <label class="btn btn-success" ng-model="scenario[tabnav].station" btn-radio="1">
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star-o"></i>
        <br>
        Platform
      </label>
      <label class="btn btn-success" ng-model="scenario[tabnav].station" btn-radio="2">
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <i class="fa fa-star"></i> 
        <br>
        BRT
      </label>
    </div>

  </div>
</div>
<div class="basecol" style="margin-left: 20%">
  <h4 ng-click="baseToggle('view_rush')">
    Frequencies
  </h4>
  <div ng-show="base.view_rush">

    <div ng-include="'tabnav.html'"></div>

    <center ng-init="showPeak = true">
      <h2>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-info" ng-click="subTime(tabnav, showPeak, 'min')">-</button>
          <button type="button" class="btn btn-info" ng-click="addTime(tabnav, showPeak, 'min')">+</button>
        </div>

        <span ng-show="showPeak">
          {{ scenario[tabnav].peak.min | integerLength }} : {{ scenario[tabnav].peak.sec | integerLength }} 
        </span>

        <span ng-show="!showPeak">
          {{ scenario[tabnav].offpeak.min | integerLength }} : {{ scenario[tabnav].offpeak.sec | integerLength }} 
        </span>

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-info" ng-click="subTime(tabnav, showPeak, 'sec')">-</button>
          <button type="button" class="btn btn-info" ng-click="addTime(tabnav, showPeak, 'sec')">+</button>
        </div>
      </h2>

      <h4>
        <span ng-click="showPeak = !showPeak">
          <span ng-show="showPeak">
            Peak
            <small>
              <i class="fa fa-exchange"></i> Off-Peak
            </small>
          </span>
          <span ng-show="!showPeak">
            <small>
              Peak <i class="fa fa-exchange"></i>
            </small>
            Off-Peak
          </span>
        </span>
      </h4>
    </center>
  </div>
</div>

<div class="basecol" style="margin-left: 40%">
  <h4 ng-click="baseToggle('view_off')">
    Station Type
    <small>
      Off-Peak Frequency
    </small>
  </h4>
  <div ng-show="base.view_off">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 60%">
  <h4 ng-click="baseToggle('view_foo')">
    Station Type
  </h4>
  <div ng-show="base.view_foo">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 80%">
  <h4 ng-click="baseToggle('view_bar')">
    Station Type
  </h4>
  <div ng-show="base.view_bar">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>






<script type="text/ng-template" id="tabnav.html">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
                            ng-click="setTabnav('28')"
                            ng-class="tabnav == '28' ? 'btn-selected' : ''">
        28
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
                            ng-click="setTabnav('32')"
                            ng-class="tabnav == '32' ? 'btn-selected' : ''">
        32
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
                            ng-click="setTabnav('66')"
                            ng-class="tabnav == '66' ? 'btn-selected' : ''">
        66
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
                            ng-click="setTabnav('CT')"
                            ng-class="tabnav == 'CT' ? 'btn-selected' : ''">
        CT
      </button>
    </div>
  </div>
</script>


