<leaflet  center   = "center_left"
          defaults = "defaults_left"
          geojson  = "geojson_left"
          id       = "map_left"
          layers   = "layers_left"
          markers  = "markers_left"
          >
</leaflet>
<leaflet  center   = "center_right"
          defaults = "defaults_right"
          geojson  = "geojson_right"
          id       = "map_right"
          layers   = "layers_right"
          markers  = "markers_right"
          >
</leaflet>


<div class="basecol">
  <h4 ng-click="baseToggle('view_stations')">
    Station Types
    <small>
      {{ param_stations.keys }}
    </small>
  </h4>
  <div ng-show="base.view_stations">
    <div ng-repeat="(key_sc, value_sc) in scenario" class="container">
      Route Number {{ key_sc }}
      <ul class="fa-ul">
        <li ng-repeat="(key_st, value_st) in param_stations">
          <label>
            <input type="radio" ng-model="scenario[key_sc].station" value="{{ value_st }}" required />
            {{ key_st }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="basecol" style="margin-left: 20%">
  <h4 ng-click="baseToggle('view_rush')">
    Peak Frequency
  </h4>
  <div ng-show="base.view_rush">

    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" 
                              ng-click="tabnav = '28'"
                              ng-class="tabnav == '28' ? 'btn-selected' : ''">
          28
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" 
                              ng-click="tabnav = '32'"
                              ng-class="tabnav == '32' ? 'btn-selected' : ''">
          32
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" 
                              ng-click="tabnav = '66'"
                              ng-class="tabnav == '66' ? 'btn-selected' : ''">
          66
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" 
                              ng-click="tabnav = 'CT'"
                              ng-class="tabnav == 'CT' ? 'btn-selected' : ''">
          CT
        </button>
      </div>
    </div>

    <div class="container">
      <h1>
        {{ scenario[tabnav].peak.mstep }} : {{ scenario[tabnav].peak.sstep }}
      </h1>
      
      <p>
        Minutes step is:
        <select ng-model="scenario[tabnav].peak.mstep" ng-options="opt for opt in timesteps.mstep"></select>
      </p>
      <p>
        Seconds step is:
        <select ng-model="scenario[tabnav].peak.sstep" ng-options="opt for opt in timesteps.sstep"></select>
      </p>

    </div>
  </div>
</div>

<div class="basecol" style="margin-left: 40%">
  <h4 ng-click="baseToggle('view_off')">
    Station Type
    <small>
      Off-Peak Frequency
    </small>
  </h4>
  <div ng-show="base.view_off">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 60%">
  <h4 ng-click="baseToggle('view_foo')">
    Station Type
  </h4>
  <div ng-show="base.view_foo">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>
<div class="basecol" style="margin-left: 80%">
  <h4 ng-click="baseToggle('view_bar')">
    Station Type
  </h4>
  <div ng-show="base.view_bar">
    <p>Minimal</p>
    <p>Raised level</p>
    <p>Full station</p>
  </div>
</div>