
  <div class="col-xs-12 body" ng-show="combosView">
    <h5>
      <span ng-show="scenarioCompare">
        Select two scenarios to compare results.
      </span>
      <span ng-show="!scenarioCompare">
        Select a scenario to perform a single point analysis.
      </span>
      <span class="badge pull-right" ng-show="scenarioCompare" ng-click="scenarioCompare=false; combos.com=null">
        Toggle Scenario Compare <i class="fa fa-toggle-on"></i>
      </span>
      <span class="badge pull-right" ng-show="!scenarioCompare" ng-click="scenarioCompare=true">
        Toggle Scenario Compare <i class="fa fa-toggle-off"></i>
      </span>
    </h5>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-check-square"></i></th>
          <th>Name</th>
          <th>Blue Hill</th>
          <th>Hyde Park</th>
          <th>Harvard-Dudley</th>
          <th>Sullivan-Dudley</th>
          <th><i class="fa fa-arrows-h"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat    = "variant in combos.all | toArray | orderBy:'created'" 
            ng-click     = "updateTargetFeature(variant.routeId)">
          <td>
            <i  class = "fa fa-square-o" 
                ng-if="combos.sel !== variant._key" 
                ng-click="updateRightRoutes(variant._key); combos.com=null"></i>
            <i  class = "fa fa-check-square" 
                ng-if="combos.sel == variant._key"
                ng-click="updateRightRoutes(); combos.com=null"></i>
          </td>
          <td>{{ variant.name }}</td>
          <td>
            <span class="text-success" ng-if="variant.sel['BH']">
              <i class="fa fa-check"></i>
              <small><i>{{ variants['BH'].all[variant.sel['BH']].name }}</i></small>
            </span>
            <span class="text-danger" ng-if="!variant.sel['BH']">
              <i class="fa fa-times"></i>
              <small><i>None selected</i></small>
            </span>
          </td>
          <td>
            <span class="text-success" ng-if="variant.sel['HP']">
              <i class="fa fa-check"></i>
              <small><i>{{ variants['HP'].all[variant.sel['HP']].name }}</i></small>
            </span>
            <span class="text-danger" ng-if="!variant.sel['HP']">
              <i class="fa fa-times"></i>
              <small><i>None selected</i></small>
            </span>
          </td>
          <td>
            <span class="text-success" ng-if="variant.sel['HD']">
              <i class="fa fa-check"></i>
              <small><i>{{ variants['HD'].all[variant.sel['HD']].name }}</i></small>
            </span>
            <span class="text-danger" ng-if="!variant.sel['HD']">
              <i class="fa fa-times"></i>
              <small><i>None selected</i></small>
            </span>
          </td>
          <td>
            <span class="text-success" ng-if="variant.sel['CT']">
              <i class="fa fa-check"></i>
              <small><i>{{ variants['CT'].all[variant.sel['CT']].name }}</i></small>
            </span>
            <span class="text-danger" ng-if="!variant.sel['CT']">
              <i class="fa fa-times"></i>
              <small><i>None selected</i></small>
            </span>
          </td>
          <td ng-show="scenarioCompare && combos.sel !== variant._key">
            <i  class = "fa fa-circle-o" 
                ng-if="combos.com !== variant._key" 
                ng-click="combos.com=variant._key"></i>
            <i  class = "fa fa-check-circle" 
                ng-if="combos.com == variant._key"
                ng-click="combos.com=null"></i>
          </td>
          <td ng-show="!scenarioCompare || combos.sel == variant._key">
            <i class="fa fa-ban"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>