  <div class="col-xs-12 body" ng-show="createVar">
    <div class="row" style="border-bottom-width:0px;border-bottom-style:solid">
      <div class="col-xs-6 text-center">
        <h3>
          {{ scenario[tabnav].peak.min | integerLength }}:{{ scenario[tabnav].peak.sec | integerLength }} 
          <small>Peak</small>
          <input type="range" min="0" max="30" ng-model="scenario[tabnav].peak.min" />
        </h3>
      </div>
      <div class="col-xs-6 text-center">
        <h3>
          {{ scenario[tabnav].offpeak.min | integerLength }}:{{ scenario[tabnav].offpeak.sec | integerLength }} 
          <small>Off-Peak</small>
          <input type="range" min="0" max="30" ng-model="scenario[tabnav].offpeak.min" />
        </h3>
      </div>

      <div class="btn-group btn-group-justified">
        <label class="btn btn-info" ng-model="scenario[tabnav].station" btn-radio="0">
          <i class="fa fa-star"></i> 
          <i class="fa fa-star-o"></i> 
          <i class="fa fa-star-o"></i>
          Normal
        </label>
        <label class="btn btn-info" ng-model="scenario[tabnav].station" btn-radio="1">
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star-o"></i>
          Platform
        </label>
        <label class="btn btn-info" ng-model="scenario[tabnav].station" btn-radio="2">
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          <i class="fa fa-star"></i> 
          BRT
        </label>
        <label class="btn btn-success" ng-click="saveAlt=true; createVar=false">
          <i class="fa fa-cloud-upload"></i> Save Variation
        </label>
      </div>
    </div>
  </div>
