<div class="basecol" ng-show="overview" style="max-height: 80%">
  <h4 ng-click="overview=false; tabnav=null">
    Routes Overview
    <i class="fa fa-times-circle-o pull-right"></i>
  </h4>
  
  <div class="col-xs-12 body">

    <h5 ng-show="variants[tabnav].sel">
      <span>
        {{ variants[tabnav].all[variants[tabnav].sel].name }} has been selected as the {{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.corLonName }} corridor variant.
      </span>
      
      <span class="badge" style="color: #{{ routes[variants[tabnav].all[variants[tabnav].sel].routeId][0].options.base.routeColor }}"
            ng-click="overview=false">
        View path on map
      </span>
    </h5>

    <span ng-show="!variants[tabnav].sel" style="color:red">
      <h5>
        <i class="fa fa-exclamation-triangle"></i> No path selected for {{ tabnav }}. <small>This route will be exluded from model right.</small>
      </h5>
    </span>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-check-square"></i></th>
          <th>Name</th>
          <th>Station Type</th>
          <th>Peak</th>
          <th>
            Off-Peak
            <i class="fa fa-plus-circle pull-right" ng-click="createVar = !createVar"></i>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat    = "variant in variants[tabnav].all | toArray | orderBy:'created'" 
            ng-click     = "updateTargetFeature(variant.routeId)">
          <td>
            <i  class = "fa fa-square-o" 
                ng-show="variants[tabnav].sel !== variant._key" 
                ng-click="setSelectedVariant(tabnav, variant._key); $event.stopPropagation()"></i>
            <i  class = "fa fa-check-square" 
                ng-show="variants[tabnav].sel == variant._key"
                ng-click="setSelectedVariant(tabnav, null); $event.stopPropagation()"></i>
          </td>
          <td>{{ variant.name }}</td>
          <td>
            <span ng-if="variant.station == 0">
              Standard 
            </span>
            <span ng-if="variant.station == 1">
              Raised Platform  
            </span>
            <span ng-if="variant.station == 2">
              BRT Station 
            </span>
          </td>
          <td>
            {{ variant.peak.min }}:{{ variant.peak.sec | integerLength }} 
          </td>
          <td>
            {{ variant.offpeak.min }}:{{ variant.offpeak.sec | integerLength }} 
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>
            <i class="fa fa-sliders"></i>
          </td>
          <td><b>Current Scenario</b></td>
          <td>
            <span ng-if="scenario[tabnav].station == 0">
              Standard 
            </span>
            <span ng-if="scenario[tabnav].station == 1">
              Raised Platform  
            </span>
            <span ng-if="scenario[tabnav].station == 2">
              BRT Station 
            </span>
          </td>
          <td>
            {{ scenario[tabnav].peak.min }}:{{ scenario[tabnav].peak.sec | integerLength }} 
          </td>
          <td>
            {{ scenario[tabnav].offpeak.min }}:{{ scenario[tabnav].offpeak.sec | integerLength }} 
            <span class="badge pull-right" ng-click="createVar = !createVar">
              <span ng-if="createVar">
                <i class="fa fa-times"></i> Close Modifier
              </span>
              <span ng-if="!createVar">
                <i class="fa fa-bookmark-o"></i> Modify
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-include src='"/public/ng-views/partials/createVar.html"'></ng-include>
</div>