  <div class="topleft" style="background-color:#216C2A" ng-show="routeScorecard">
    <h4>
      Scorecard
      <i class="fa fa-times-circle-o pull-right"></i>
    </h4>
    <div class="topinfo-body container">
      <div class="row">
        <div class="col-xs-4 text-center">
          <h3>34 Stops</h3>
        </div>
        <div class="col-xs-4">
          <p>
            <b>Type 0:</b> 20%
          </p>
          <p>
            <b>Type 1:</b> 20%
          </p>
          <p>
            <b>Type 2:</b> 20%
          </p>
        </div>
        <div class="col-xs-4">
        </div>
      </div>

      <h6>
        There are
      </h6>
      
      <button class="btn btn-choose pull-right" type="button" 
              style="background-color:#216C2A">
        Button Dummy
      </button>
    </div>
  </div>