
  <div class="topleft saveAlt" ng-show="saveAlt">
    <h4>
      Save this variation of the {{ routes[scenario[tabnav].routeId][0].options.base.varName }} path
      <i class="fa fa-times-circle-o pull-right" ng-click="saveAlt=false"></i>
    </h4>
    <div class="topinfo-body container">
      <h6 ng-if="scenario[tabnav].routeId">
        This alternative route variation is based off of the path for route {{ routes[scenario[tabnav].routeId][0].options.base.varName }} within the {{ routes[scenario[tabnav].routeId][0].options.base.corLonName }} corridor.
      </h6>
      <h6 ng-if="!scenario[tabnav].routeId">
        You have not selected a path from the available options for this route. To select a path variation, choose from the available variations on the underlying map.
      </h6>
      <h6>
        Your alternative for Route {{ tabnav }} has installed
        <span ng-if="scenario[tabnav].station == 0">
          traditional standard bus stops.
        </span>
        <span ng-if="scenario[tabnav].station == 1">
          bus stops enhanced with raised platforms.
        </span>
        <span ng-if="scenario[tabnav].station == 2">
          BRT bus stations that feature both raised platforms and preboarding fare purchasing
        </span>
        Peak frequencies along your alternative of Route {{ tabnav }} have been set to {{ scenario[tabnav].peak.min }}:{{ scenario[tabnav].peak.sec | integerLength }} between arrivals. Off-peak frequencies have been set to {{ scenario[tabnav].offpeak.min }}:{{ scenario[tabnav].offpeak.sec | integerLength }} between arrivals. Complete the field below to add this alternative to Route {{ tabnav }}.
      </h6>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="scenario[tabnav].name" placeholder="Name your alternative for Route {{ tabnav }}...">
        <span class="input-group-btn">
          <button class="btn btn-savealt" type="button" 
            ng-show="!scenario[tabnav].name" 
            style="cursor:not-allowed" disabled>
            Save Variation
          </button>
          <button class="btn btn-savealt" type="button" 
            ng-click="saveAlt=false; newVariant(tabnav, true)" 
            ng-show="scenario[tabnav].name && scenario[tabnav].routeId">
            Save Variation
          </button>
        </span>
      </div>
    </div>
  </div>