  <div class="topleft" style="background-color: #{{ targetFeature.properties.routeColor }}" ng-show="targetFeature.properties">
    <h4>
      {{ targetFeature.properties.varName }} allignment
      <i class="fa fa-times-circle-o pull-right" ng-click="updateTargetFeature()"></i>
    </h4>
    <div class="topinfo-body container">
      <h6>
        This is variation adopts the {{ targetFeature.properties.varName }} allignment. The {{ targetFeature.properties.varName }} allignment runs along the {{ targetFeature.properties.corLonName }} corridor ({{ targetFeature.properties.corName }}). This particular path is {{ targetFeature.properties.length | number:2 }} miles long.
      </h6>

      <h6 ng-show="targetFeature.alternatives">
        There are {{ targetFeature.alternatives.length/2 + variants[tabnav].length }} path alternatives along this corridor. {{ variants[tabnav].all | keyLength }} variations, based off of these route path alternatives, have been created this session. They are: 
        <span ng-repeat="(key, variant) in variants[tabnav].all">
          <span class="badge"  style="color: #{{ targetFeature.properties.routeColor }}" 
                ng-click="updateTargetFeature(variant.routeId)">
            {{ variant.name }}
          </span>
        </span>
      </h6>
      
      <button class="btn btn-choose pull-right" type="button" 
              ng-show="scenario[tabnav].routeId !== targetFeature.properties.routeId"
              ng-click="scenario[targetFeature.properties.corName].routeId = targetFeature.properties.routeId;
                        createVar=true" 
              style="background-color: #{{ targetFeature.properties.routeColor }}">
        Use this path for the {{ targetFeature.properties.corLonName }} corridor
      </button>

      <button class="btn btn-choose pull-right" type="button" 
              ng-show="scenario[targetFeature.properties.corName].routeId == targetFeature.properties.routeId"
              style="background-color: #{{ targetFeature.properties.routeColor }}">
        <i class="fa fa-check"></i>
        Path selected
      </button>

    </div>
  </div>